<div *transloco="let t" class="editors h-full">
    <h5 class="page-title">{{t(KEY.EDITORS)}}</h5>


    <div class="flex flex-col !h-full">

        <div class="flex ps-1 mb-4 gap-4 items-center  !w-full">

            <tui-textfield class="flex-1" tuiTextfieldSize="m" iconStart="@tui.search">
                <input [(ngModel)]="searchQuery" [placeholder]="t(KEY.SEARCH_PLACEHOLDER)" tuiTextfield />
            </tui-textfield>

        </div>

        <tui-scrollbar class="!h-full">

            <cdk-virtual-scroll-viewport #viewport appendOnly tuiScrollable class="viewport tui-zero-scrollbar !h-full"
                [itemSize]="45" [maxBufferPx]="500" [minBufferPx]="400">

                <table *ngIf="data" tuiTable class="table" [columns]="tableColumns" [direction]="orderDirection() || 1"
                    [tuiSortBy]="sortColumnBy()" (directionChange)="orderDirection.set($event)"
                    (tuiSortByChange)="sortColumnBy.set($event!)">
                    <thead>
                        <tr tuiThGroup>
                            <ng-container *ngFor="let column of tableColumns">

                                @if(column === "sn" || column === "firstName" || column === "lastName"){
                                <th *tuiHead="column" [tuiSortable]="true" tuiTh [sticky]="true"
                                    [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                                    {{ t(column)}}
                                </th>
                                }@else {
                                <th *tuiHead="column" [tuiSortable]="false" tuiTh [sticky]="true"
                                    [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                                    {{ t(column)}}
                                </th>
                                }

                            </ng-container>
                        </tr>
                    </thead>
                    <tbody *tuiLet="data() | tuiTableSort as sortedData" tuiTbody [data]="sortedData">

                        <ng-container *ngFor="let item of sortedData; let dataIndex = index">

                            <tr tuiTr>
                                <ng-container *ngFor="let key of tableColumns; let rowIndex = index">

                                    @if (key === "phone") {
                                    <td *tuiCell="key" tuiTd [class.match]="isColumnMatch(item[key])">
                                        <a class="underline" href="tel:+{{item[key]}}">{{item[key]}}</a>
                                    </td>
                                    }@else if(key === "userType"){
                                    <td *tuiCell="key" tuiTd [class.match]="isColumnMatch(item[key])">
                                        <div class="flex justify-between gap-4 items-center">
                                            <span>
                                                {{item[key]}}
                                            </span>

                                            <button [matTooltip]="'Change User Type'" [matMenuTriggerFor]="menu">
                                                <mat-icon style="font-size: 1.5rem;" fontIcon="dots-vertical-fill"
                                                    class="text-orange-700"></mat-icon>
                                            </button>

                                            <mat-menu #menu="matMenu">
                                                <button (click)="changeUserTypePrompt(item)" mat-menu-item>Make
                                                    {{item[key]
                                                    === "Editor" ? 'a Publisher':'an Editor'}}
                                                </button>
                                            </mat-menu>
                                        </div>


                                    </td>
                                    }@else {
                                    <td *tuiCell="key" tuiTd [class.match]="isColumnMatch(item[key])"> {{item[key]}}
                                    </td>
                                    }

                                </ng-container>
                            </tr>
                        </ng-container>


                    </tbody>
                    <tfoot>
                        <tr>
                            <td [colSpan]="tableColumns.length">
                                <tui-table-pagination class="mt-2" [size]="TABLE_PAGE_SIZE" [page]="tablePage() || 0"
                                    [total]="editorsStore.editors().length" (paginationChange)="onPagination($event)" />
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </cdk-virtual-scroll-viewport>
        </tui-scrollbar>
    </div>


</div>