<div *transloco="let t" class="profile">

    <h5 class="page-title">{{t(KEY.PROFILE)}}</h5>

    <div class="mat-elevation-z1 p-4 card">

        <div class="file">
            <div (click)="fileInput.click()" class="image-upload relative rounded-full"
                [class.border-red-600]="profileImageFC.hasError('maxFileSize')">
                <input #fileInput sddFileUpload accept="image/*" type="file" hidden [formControl]="profileImageFC" />
                <div class="badge">
                    @if (imageUrl()) {
                    <img width="50" height="50" alt="Profile Image" class="rounded-full object-cover"
                        [ngSrc]="imageUrl()!">
                    <div *ngIf="!uploadingProfileImage()" class="absolute z-20 right-1 add-profile">
                        <tui-icon icon="@tui.user-round-pen" />
                    </div>
                    }@else {
                    <tui-icon icon="@tui.user-round-plus" />
                    }
                    <tui-loader *ngIf="uploadingProfileImage()" size="l" class="!absolute z-20 right-1 loader" />
                </div>
            </div>
            @let errorMessage = profileImageFC.getError('maxFileSize');
            <p *ngIf="errorMessage" class="text-red-500 pt-2">
                {{errorMessage}}</p>
        </div>

        <app-user-data #userDataForm />

        <div class="text-end">
            <button [disabled]="isLoading()" (click)="onSubmit(userDataForm.form)" mat-flat-button
                class="submit-btn mat-elevation-z1 mt-4">{{t(KEY.UPDATE)}}</button>
        </div>

    </div>
</div>