<div *transloco="let t" class="auth flex flex-col">

    <div class="p-4">
        <h3 class="title">{{appName}}</h3>
    </div>

    <div class="flex flex-col justify-center items-center gap-10 flex-1">
        <div class="logo flex justify-center items-center">
            <img width="80" height="75" ngSrc="/shared/images/logo.png" priority alt="Logo">
        </div>

        <h3 class="title text-center">{{t(KEY.AUTH_LOGIN_MGS)}}</h3>

        <div [formGroup]="form" class="flex flex-col gap-3 login-form-container">

            <mat-form-field>
                <mat-label>{{t(KEY.EMAIL)}}</mat-label>
                <input matInput formControlName="email" placeholder="name@example.com" type="email" autocomplete="on">
                @if (this.emailFC.invalid) {
                <mat-error>{{t(KEY.INVALID_EMAIL_MGS)}}</mat-error>
                }
            </mat-form-field>

            <button [disabled]="isLoading()" (click)="onSubmit()" mat-flat-button
                class="login-btn mat-elevation-z1 w-100">{{t(KEY.SEND_LOGIN_LINK)}}</button>

        </div>
    </div>



</div>