<div *transloco="let t" class="new-content">
        <h5 class="page-title">{{title()}}</h5>

        <!-- <app-empty-status [description]="t(KEY.NO_ADDED_CONTENT_MSG, {value: title()})" /> -->


        <div class="card inline-block !p-0">
                <nav class="nav px-4 py-2 flex gap-4 items-center">

                        <tui-textfield class="flex-1" tuiTextfieldSize="s" iconStart="@tui.search">
                                <input [placeholder]="t(KEY.SEARCH_PLACEHOLDER)" tuiTextfield />
                        </tui-textfield>

                        <button (click)="openContentDialog()" class="fab" mat-mini-fab>
                                <mat-icon fontIcon="plus-fill"></mat-icon>
                        </button>
                </nav>

                <hr class="border-">

                <div class="p-4">
                </div>
        </div>

        <!-- <app-content-form /> -->

</div>

<button (click)="openContentDialog()" class="!fixed right-4 bottom-4 mobile-fab fab" mat-fab>
        <mat-icon fontIcon="plus-fill"></mat-icon>
</button>