.dashboard-root {
  display: grid;
  height: 100dvh;
  width: 100dvw;
  grid-template-rows: auto 1fr;
}

.mobile-header {
  position: absolute;
  top: 1.25rem;
  left: 1.5rem;
  right: 0.5rem;
  h4 {
    font-size: 1.2rem;
  }
}

.drawer {
  top: 0;
  border-radius: 0;
  inline-size: 20rem;
  background: var(--tui-theme-color);
  color: white;
}

.page-title {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  align-items: center;
  h4 {
    font-size: 1.4rem;
  }
}

.logo {
  border-radius: 0.7rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  img {
    width: 2.3rem;
    height: auto;
  }
}
