.dashboard-root {
  display: grid;
  height: 100dvh;
  width: 100dvw;
  grid-template-rows: auto 1fr;
  background-color: var(--mat-sys-surface);
}

.aside {
  button {
    font-size: 0.9rem;
    padding-inline-start: 0.3rem;
  }
  mat-icon {
    flex-shrink: 0;
    font-size: 1.3rem;
  }

  tui-aside-group {
    .content {
      padding-inline-start: 2.4rem;
    }
  }
}

.mobile-header {
  position: absolute;
  top: 1.25rem;
  left: 1.5rem;
  right: 0.5rem;
  h4 {
    font-size: 1.2rem;
  }
}

.drawer {
  top: 0;
  border-radius: 0;
  inline-size: 20rem;
  background: var(--tui-theme-color);
  color: white;
  header {
    .title {
      font-size: 1.3rem;
    }
  }
  mat-icon {
    font-size: 1.5rem;
  }
  .nav-item {
    display: flex;
    align-items: start;
    gap: 0.5rem;
    padding: 0.75rem;
    padding-bottom: 0;
    border-radius: 0.5rem;
    width: 100%;
  }
}

.page-title {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  align-items: center;
  h4 {
    font-size: 1.2rem;
  }
}

.logo {
  border-radius: 0.7rem;
  width: 2.2rem;
  height: 2.2rem;
  background-color: white;
  img {
    width: 2.1rem;
    height: auto;
  }
}
