@use 'breakpoints';

@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}

.dashboard-root {
  display: grid;
  height: 100dvh;
  width: 100dvw;
  grid-template-rows: auto 1fr;
}
nav {
  background: var(--mat-sys-surface-container-low);
}

.route {
  margin-top: 5rem;
}

nav,
.route {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.nav-expand {
  margin-left: 0;
  @include breakpoints.large {
    margin-left: 14.375rem;
  }
}
.nav-collapse {
  margin-left: 0;
  @include breakpoints.large {
    margin-left: 3rem;
  }
}

tui-drawer {
  .add-note-outline {
    font-size: 1.5rem;
  }
  footer,
  header {
    color: var(--tui-text-primary);
  }
}

.link-active {
  background: rgba(255, 255, 255, 0.16);
}

.link-active-light {
  background: var(--tui-background-neutral-1-hover);
}

.aside {
  position: fixed !important;
  height: calc(100dvh - 3rem);
  a,
  button {
    padding-inline-start: 0.4rem;
  }
  mat-icon {
    flex-shrink: 0;
    font-size: 1.3rem;
  }

  tui-aside-group {
    .content {
      padding-inline-start: 2.4rem;
    }
  }
}

.mobile-header {
  position: absolute;
  top: 1.25rem;
  left: 1.5rem;
  right: 0.5rem;
  h4 {
    font-size: 1.2rem;
  }
}

.drawer {
  top: 0;
  border-radius: 0;
  inline-size: 20rem;
  background: var(--tui-theme-color);
  color: white;
  header {
    .title {
      font-size: 1.5rem;
      color: var(--mat-sys-tertiary-fixed);
    }
  }
  mat-icon {
    font-size: 1.5rem;
  }
  .nav-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    width: 100%;
  }
}

.dashboard-title {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  align-items: center;
  justify-items: center;
  h4 {
    font-size: 1.2rem;
  }
}

.logo {
  border-radius: 0.7rem;
  width: 2.2rem;
  height: 2.2rem;
  background-color: white;
  img {
    width: 2.1rem;
    height: auto;
  }
}
