<div *transloco="let t" class="dashboard-root">

    <ng-container *ngTemplateOutlet="header"></ng-container>

    <div class="flex">
        <ng-container *ngIf="(dashboardService.breakpoint$ | async) === 'desktopLarge'">
            <ng-container *ngTemplateOutlet="desktopSideNav"></ng-container>
        </ng-container>

        <ng-container *ngTemplateOutlet="mobileSideNav"></ng-container>


        <main tuiNavigationMain class="!block">
            <nav compact tuiSubheader [style.position]="'sticky'">
                <tui-breadcrumbs [itemsLimit]="10">
                    <ng-container *ngFor="let item of breadcrumbs(); let last = last">
                        <ng-container *ngIf="last">
                            <strong *tuiItem tuiFade>
                                {{ item.label }}
                            </strong>
                        </ng-container>
                        <ng-container *ngIf="!last">
                            <button *tuiItem tuiLink [routerLink]="item.url" type="button">
                                {{ item.label }}
                            </button>
                        </ng-container>
                    </ng-container>
                </tui-breadcrumbs>
            </nav>
            <router-outlet class="w-100 h-100"></router-outlet>
        </main>
    </div>
</div>


<!-- Header -->
<ng-template #header>
    <header *transloco="let t" tuiNavigationHeader class="flex justify-between">

        <div class="lg:hidden">
            <button (click)="openSideDrawer.set(true)" class="!text-white" mat-icon-button>
                <mat-icon fontIcon="hamburger-fill"></mat-icon>
            </button>
        </div>

        <a [routerLink]="ROUTE.ROOT" class="page-title">
            <div class="logo flex justify-center items-center">
                <img width="80" height="75" ngSrc="/images/global/logo.png" priority>
            </div>
            <h4 class="hidden lg:block">{{appName}}</h4>
        </a>

        <div class="grid grid-flow-col gap-2 items-center">

            <div class="hidden lg:block">
                <button [matMenuTriggerFor]="menu" class="!text-white" mat-icon-button>
                    <mat-icon fontIcon="dark-mode-fill"></mat-icon>
                </button>

                <mat-menu #menu="matMenu">
                    <div class="menu">
                        <button *ngFor="let theme of themes" (click)="setTheme(theme)" mat-menu-item>{{t(theme)}}
                        </button>
                    </div>
                </mat-menu>
            </div>

            <div>

                <div [matMenuTriggerFor]="accountMenu" matRipple>
                    <tui-avatar size="s"
                        [src]="'https://avatars.githubusercontent.com/u/11832552' | tuiFallbackSrc: '@tui.user' | async" />

                </div>


                <mat-menu #accountMenu="matMenu">
                    <div class="menu">
                        <a [routerLink]="ROUTE.PROFILE" mat-menu-item>{{t(KEY.PROFILE)}}
                        </a>
                        <button (click)="logout()" mat-menu-item>{{t(KEY.LOGOUT)}}
                        </button>
                    </div>
                </mat-menu>
            </div>
        </div>
    </header>
</ng-template>

<ng-template #mobileSideNav>
    <ng-container *transloco="let t">
        <tui-drawer *tuiPopup="openSideDrawer() && (dashboardService.breakpoint$ | async) !== 'desktopLarge'"
            direction="left" class="drawer" [overlay]="true">
            <header class="flex gap-4 justify-between items-center !flex-row">
                <a class="title" [routerLink]="ROUTE.ROOT">
                    <h4>{{appName}}</h4>
                </a>
                <button (click)="openSideDrawer.set(false)" class="!text-white" mat-icon-button>
                    <mat-icon fontIcon="close-fill"></mat-icon>
                </button>
            </header>

            <a class="nav-item" matRipple [routerLink]="[ROUTE.PUBLISHED]">
                <mat-icon fontIcon="bookshelf-fill"></mat-icon>
                {{t(KEY.PUBLISHED)}}
            </a>

            <a [routerLink]="[ROUTE.DRAFT]" class="nav-item" matRipple>
                <mat-icon fontIcon="note-outline"></mat-icon>
                {{t(KEY.DRAFT)}}

            </a>

            <footer class="flex flex-col">

                <a [routerLink]="[ROUTE.EDITORS]" class="nav-item" matRipple type="button">
                    <mat-icon fontIcon="spark-user-outline"></mat-icon>
                    {{t(KEY.EDITORS)}}
                </a>

                <a [routerLink]="[ROUTE.SETTINGS]" class="nav-item" matRipple>
                    <mat-icon fontIcon="settings-outline"></mat-icon>
                    {{t(KEY.SETTINGS)}}
                </a>

                <div class="nav-item !items-center !gap-4">
                    <p><mat-slide-toggle>Slide me!</mat-slide-toggle></p>
                    {{t(KEY.SETTINGS)}}
                </div>

            </footer>

        </tui-drawer>
    </ng-container>
</ng-template>

<!-- Side Nav Desktop -->
<ng-template #desktopSideNav>
    <aside (click)="closeSideDrawer()" *transloco="let t" class="!md:pt-8 !pb-4 aside"
        [tuiNavigationAside]="expandSideNav()">

        <a tuiAsideItem matRipple [routerLink]="[ROUTE.PUBLISHED]">
            <mat-icon fontIcon="bookshelf-fill"></mat-icon>
            {{t(KEY.PUBLISHED)}}
        </a>

        <tui-aside-group *ngIf="supportedLanguages().length > 0">
            <button [routerLink]="[ROUTE.NEW, supportedLanguages()[0].code]" automation-id="setting" tuiAsideItem
                tuiChevron matRipple type="button">
                <mat-icon fontIcon="add-note-outline"></mat-icon>
                {{t(KEY.ADD_NEW)}}
                <ng-template>

                    <a *ngFor="let language of supportedLanguages()" [routerLink]="[ROUTE.NEW, language.code]"
                        tuiAsideItem matRipple type="button" class="content">
                        {{language.label}}
                    </a>

                </ng-template>
            </button>
        </tui-aside-group>

        <a [routerLink]="[ROUTE.DRAFT]" tuiAsideItem matRipple>
            <mat-icon fontIcon="note-outline"></mat-icon>
            {{t(KEY.DRAFT)}}
        </a>

        <footer>

            <a [routerLink]="[ROUTE.EDITORS]" tuiAsideItem matRipple type="button">
                <mat-icon fontIcon="spark-user-outline"></mat-icon>
                {{t(KEY.EDITORS)}}
            </a>

            <a [routerLink]="[ROUTE.SETTINGS]" tuiAsideItem matRipple type="button">
                <mat-icon fontIcon="settings-outline"></mat-icon>
                {{t(KEY.SETTINGS)}}
            </a>

            <button tuiAsideItem matRipple type="button" (click)="expandSideNav.set(!expandSideNav())">
                <mat-icon [fontIcon]="expandSideNav() ? 'chevron-left-fill' : 'chevron-right-fill' "></mat-icon>

                {{ expandSideNav() ? t(KEY.COLLAPSE) : t(KEY.EXPAND) }}
            </button>
        </footer>

    </aside>
</ng-template>