<div class="dashboard-root">
    <header tuiNavigationHeader class="flex justify-between">

        <div class="lg:hidden">
            <button (click)="openSideDrawer.set(true)" class="!text-white" mat-icon-button>
                <mat-icon fontIcon="hamburger-fill"></mat-icon>
            </button>
        </div>

        <div class="page-title">
            <div class="logo flex justify-center items-center">
                <img width="80" height="75" ngSrc="/images/global/logo.png" priority>
            </div>
            <h4 class="hidden lg:block">{{appName}}</h4>
        </div>

        <div class="grid grid-flow-col gap-4 items-center">

            <div class="hidden lg:block">
                <button class="!text-white" (click)="toggleTheme()" mat-icon-button>
                    <mat-icon fontIcon="dark-mode-fill"></mat-icon>
                </button>
            </div>

            <div>
                User
            </div>
        </div>
    </header>

    <div class="flex">
        <aside class="!pt-8 !pb-4 aside" *ngIf="(dashboardService.breakpoint$ | async) === 'desktopLarge'"
            [tuiNavigationAside]="expandSideNav()">

            <button tuiAsideItem matRipple>
                <mat-icon fontIcon="bookshelf-fill"></mat-icon>
                Published
            </button>

            <button tuiAsideItem matRipple>
                <mat-icon fontIcon="add-note-outline"></mat-icon>
                Add New
            </button>

            <button tuiAsideItem matRipple>
                <mat-icon fontIcon="pages-outline"></mat-icon>
                Draft
            </button>


            <footer>

                <button tuiAsideItem matRipple type="button">
                    <mat-icon fontIcon="writing-outline"></mat-icon>
                    Editors
                </button>
                <button tuiAsideItem matRipple type="button">
                    <mat-icon fontIcon="settings-outline"></mat-icon>
                    Settings
                </button>

                <button tuiAsideItem matRipple type="button"
                    [iconStart]="expandSideNav() ? '@tui.chevron-left' : '@tui.chevron-right'"
                    (click)="expandSideNav.set(!expandSideNav())">
                    {{ expandSideNav() ? 'Collapse' : 'Expand' }}
                </button>
            </footer>



        </aside>


        <tui-drawer *tuiPopup="openSideDrawer()" direction="left" class="drawer relative" [overlay]="true"
            (click.self)="onClose()">
            <div class="flex gap-4 justify-between items-center mobile-header">
                <h4>{{appName}}</h4>
                <button (click)="openSideDrawer.set(false)" class="!text-white" mat-icon-button>
                    <mat-icon fontIcon="close-fill"></mat-icon>
                </button>
            </div>

        </tui-drawer>

        <main tuiNavigationMain>
            <nav [style.position]="'sticky'" tuiNavigationNav>Breadcrumbs, tabs, buttons</nav>

            <router-outlet></router-outlet>
        </main>
    </div>
</div>