@use './mixins/breakpoint';

html {
  font-size: 80%;

  @include breakpoint.small {
    font-size: 82.5%;
  }

  @include breakpoint.medium {
    font-size: 85%;
  }

  @include breakpoint.tablet {
    font-size: 92.5%;
  }

  @include breakpoint.large {
    font-size: 90%;
  }

  @include breakpoint.xLarge {
    font-size: 92.5%;
  }

  @include breakpoint.xxLarge {
    font-size: 95%;
  }

  @include breakpoint.xxxLarge {
    font-size: 100%;
  }
}
