@use 'breakpoints';

section.section {
  margin-bottom: 2rem;
}
.title {
  font-size: var(--section-title-size);
  font-weight: var(--section-title-weight);
}

// Review card
.card {
  flex: 0 0 16rem;
  width: 16rem;
  margin-inline-start: 4rem;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}
.review {
  font-weight: 500;
  font-size: 0.9rem;
}
.name {
  font-size: 1rem;
  font-weight: bold;
}
.rating {
  mat-icon {
    color: #ffc000;
    font-size: 1.2rem;
  }
}

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.slider {
  --review-card-gap: 4rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  &::before,
  &::after {
    @include white-gradient;
    content: '';
    height: 300px;
    position: absolute;
    width: 5rem;
    z-index: 2;
    @include breakpoints.medium {
      width: 12rem;
    }
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    display: inline-flex;
    align-items: center;
    width: -webkit-fit-content;
    width: fit-content;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
  }

  .slide-group {
    display: flex;
    flex-shrink: 0;
    align-items: center;
  }
}
