@use 'common/mixins/breakpoint';

.signup {
  min-height: 100%;
}

.logo {
  border-radius: 1.7rem;
  width: 4rem;
  height: 4rem;
  img {
    width: 3rem;
    height: auto;
  }
}

.form {
  h5 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.34rem;
  }
  form {
    margin-top: 3rem;
  }
}

.name {
  mat-form-field {
    width: 90%;
    @include breakpoint.large {
      width: 15rem;
    }
  }
}
