<div *transloco="let t" class="signup">

    <div class="p-4 py-8">
        <div class="logo flex justify-center  items-center  bg-white">
            <a [routerLink]="ROUTE.ROOT"><img class="scale" width="50" height="40" alt="Logo"
                    ngSrc="images/global/logo.png" priority>
            </a>
        </div>
    </div>

    <div class="flex flex-col items-center form px-4">

        <div>
            <h5>{{t(KEY.SIGN_UP_HEADER)}},</h5>
            <h5>{{t(KEY.TELL_US_ABOUT)}}</h5>

            <form [formGroup]="form">
                <div class="name flex flex-col lg:flex-row gap-4 items-start">
                    <mat-form-field>
                        <mat-label>{{t(KEY.FIRST_NAME)}}</mat-label>
                        <input matInput formControlName="firstName" [placeholder]="t(KEY.FIRST_NAME)">
                        @if (this.firstNameFC.invalid) {
                        <mat-error>{{t(KEY.INVALID_NAME_MSG)}}</mat-error>
                        }
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{t(KEY.LAST_NAME)}}</mat-label>
                        <input matInput formControlName="lastName" [placeholder]="t(KEY.LAST_NAME)">
                        @if (this.lastNameFC.invalid) {
                        <mat-error>{{t(KEY.INVALID_NAME_MSG)}}</mat-error>
                        }
                    </mat-form-field>
                </div>

                <div class="mt-4 phone-control">
                    <tui-textfield [tuiDropdownMobile]="t(KEY.SELECT_A_COUNTRY)">
                        <label tuiLabel>{{t(KEY.PHONE_NUMBER)}} (WhatsApp)</label>
                        <input tuiInputPhoneInternational [countries]="(countries | tuiSortCountries | async) || []"
                            [countrySearch]="true" [(countryIsoCode)]="countryIsoCode" formControlName="phone" />
                    </tui-textfield>
                    <tui-error formControlName="phone" [error]="[] | tuiFieldError | async"/>
                </div>

                <div class="text-end mt-4 submit">
                    <button [disabled]="isLoading()" (click)="onSubmit()" mat-flat-button
                        class="login-btn mat-elevation-z1">{{t(KEY.SUBMIT)}}</button>
                </div>

            </form>

        </div>



    </div>



</div>