<div *transloco="let t" class="translate-content h-full">
    <h5 class="page-title">Translate to {{title()}}</h5>

    <tui-scrollbar class="!h-full">

        <cdk-virtual-scroll-viewport #viewport appendOnly tuiScrollable class="viewport tui-zero-scrollbar !h-full"
            [itemSize]="45" [maxBufferPx]="500" [minBufferPx]="400">

            <table *ngIf="translateData" tuiTable class="table" [columns]="translateTableColumns"
                [direction]="orderDirection() || 1" [tuiSortBy]="sortColumnBy()"
                (directionChange)="orderDirection.set($event)" (tuiSortByChange)="sortColumnBy.set($event!)">
                <thead>
                    <tr tuiThGroup>
                        <ng-container *ngFor="let column of translateTableColumns">

                            @if (column === "message") {
                            <th *tuiHead="column" class="message-column" tuiTh [sticky]="true" [tuiSortable]="false"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                                {{ t(column)}}
                            </th>
                            }
                            @else if (column === "verses") {
                            <th *tuiHead="column" class="verses-column" tuiTh [sticky]="true" [tuiSortable]="false"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                                {{ t(column)}}
                            </th>
                            }
                            @else if (column === "keyVerse") {
                            <th *tuiHead="column" class="key-verse-column" tuiTh [sticky]="true" [tuiSortable]="false"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                                {{ t(column)}}
                            </th>
                            }
                            @else if (column === "sn" || column ==="reference" ||
                            column ==="topic") {
                            <th *tuiHead="column" tuiSortable tuiTh [sticky]="true"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                                {{ t(column)}}
                            </th>
                            }@else {
                            <th *tuiHead="column" [tuiSortable]="false" tuiTh [sticky]="true"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                                {{ t(column)}}
                            </th>
                            }

                        </ng-container>
                    </tr>
                </thead>
                <tbody *tuiLet="translateData() | tuiTableSort as sortedData" tuiTbody [data]="sortedData">

                    <ng-container *ngFor="let item of sortedData; let dataIndex = index">

                        @let englishContent = item.englishContent;
                        @let languageContent = item.languageContent;

                        <tr class="table-tools-row">
                            <td [colSpan]="translateTableColumns.length" class="border-x-1 border-b border-x px-4">

                                <!-- <button (click)="editContent(item, item.id)" mat-button> <mat-icon
                                        fontIcon="translate-fill"></mat-icon>
                                    {{t(KEY.TRANSLATE)}}</button> -->
                            </td>
                        </tr>

                        <tr tuiTr>
                            <ng-container *ngFor="let key of translateTableColumns; let rowIndex = index">
                                @if (key === "date") {
                                <td *tuiCell="key" tuiTd>
                                    {{ item[key] | date:'fullDate' }}
                                </td>
                                } @else if (key === "message" || key === "verses") {
                                <td *tuiCell="key" tuiTd [class.match]="isColumnMatch(englishContent[key])">
                                    {{ englishContent[key] }}
                                </td>
                                } @else if (key === "imagePath") {
                                <td *tuiCell="key" tuiTd>
                                    <a href="{{CDN_BASE_URL}}/{{item[key]}}" target="_blank" rel="noopener noreferrer">
                                        <img *ngIf="item[key]" width="50" height="50" class="header-image"
                                            ngSrc="{{item[key]}}" alt="Header Image">
                                        <img *ngIf="!item[key]" width="50" height="50" class="header-image"
                                            src="{{item[key]}}" alt="Header Image">
                                    </a>
                                </td>
                                } @else if (key === "audioUrl") {
                                <td *tuiCell="key" tuiTd>
                                    <ng-audio-player *ngIf="englishContent[key]" [src]="englishContent[key]!" />
                                </td>
                                }@else if (key === "tags" || key === "sn"){
                                <td *tuiCell="key" tuiTd [class.match]="isColumnMatch(item[key])">
                                    {{ item[key]}}
                                </td>
                                } @else {
                                <td *tuiCell="key" tuiTd [class.match]="isColumnMatch(englishContent[key])">
                                    {{ englishContent[key] }}
                                </td>
                                }
                            </ng-container>
                        </tr>

                        @if (languageContent) {
                        <tr tuiTr>
                            <ng-container *ngFor="let key of translateTableColumns; let rowIndex = index">
                                @if (key === "date") {
                                <td *tuiCell="key" tuiTd>
                                    {{ item[key] | date:'fullDate' }}
                                </td>
                                } @else if (key === "message" || key === "verses") {
                                <td *tuiCell="key" tuiTd [class.match]="isColumnMatch(languageContent[key])">
                                    {{ languageContent[key] }}
                                </td>
                                } @else if (key === "imagePath") {
                                <td *tuiCell="key" tuiTd>
                                    <a href="{{CDN_BASE_URL}}/{{item[key]}}" target="_blank" rel="noopener noreferrer">
                                        <img *ngIf="item[key]" width="50" height="50" class="header-image"
                                            ngSrc="{{item[key]}}" alt="Header Image">
                                        <img *ngIf="!item[key]" width="50" height="50" class="header-image"
                                            src="{{item[key]}}" alt="Header Image">
                                    </a>
                                </td>
                                } @else if (key === "audioUrl") {
                                <td *tuiCell="key" tuiTd>
                                    <ng-audio-player *ngIf="languageContent[key]" [src]="languageContent[key]!" />
                                </td>
                                }@else if (key === "tags" || key === "sn"){
                                <td *tuiCell="key" tuiTd [class.match]="isColumnMatch(item[key])">
                                    {{ item[key]}}
                                </td>
                                } @else {
                                <td *tuiCell="key" tuiTd [class.match]="isColumnMatch(languageContent[key])">
                                    {{ languageContent[key] }}
                                </td>
                                }
                            </ng-container>
                        </tr>
                        }

                    </ng-container>

                </tbody>
                <tfoot>
                    <tr>
                        <td [colSpan]="translateTableColumns.length/2">
                            <tui-table-pagination class="mt-2" [size]="AVERAGE_TABLE_PAGE_SIZE"
                                [page]="tablePage() || 0" [total]="contentStore.draftContents().length"
                                (paginationChange)="onPagination($event)" />
                        </td>
                    </tr>
                </tfoot>
            </table>

        </cdk-virtual-scroll-viewport>
    </tui-scrollbar>

</div>