<main class="legal">
    <app-header />
    <hr>
    <h2 class="title">Privacy Policy</h2>
    <div class="flex justify-end last-updated">
        <span class="text-neutral-100">Last updated: 01-July-2025</span>
    </div>
</main>

<div class="mx-auto p-4 legal-content">
    <section class="brief-overview" id="brief-overview">
        <header>
            <p>
                The English language version of the Privacy Policy and <a [routerLink]="[ROUTE.ROOT, ROUTE.TERMS]"
                    target="_blank" rel="noopener noreferrer">Terms of Use</a> will govern your relationship with
                the {{APP_NAME}}. While
                the English version will govern, you can also use an automatic translation tool like
                <a href="{{PAGE_TRANSLATION}}" target="_blank" rel="noopener noreferrer">Google Translate</a>
                to
                view the
                documents in your language. Any further translation revisions will be posted on this page.
            </p>

            <h2>
                Brief Overview
            </h2>
        </header>

        <p>This Privacy Policy outlines the types of data we collect from your interaction with {{APP_NAME}}, as well as
            how
            we
            process that information to enhance your {{APP_NAME}} experience. When you create a {{APP_NAME}} account or
            use any
            one of
            our applications or sites, the information we collect is for the purpose of offering a more personalized
            experience.</p>

        <p>We take the privacy of the information you provide and that we collect seriously and we implement security
            safeguards
            designed to protect your data as discussed below. We do not share your personally identifiable data with any
            third-party
            advertisers or ad networks for third-party advertising purposes.</p>

    </section>

    <section class="information-we-collect" id="information-we-collect">
        <header>
            <h2>
                Information we Collect and How we collect it
            </h2>
        </header>

        <p>
            The information we collect depends on the services and functionality you request. You may decline to submit
            personal
            information to us; however, that may prohibit us from having the ability to provide you with certain
            services or
            functionality. The personal information we collect and the purpose for which we use that information are
            described
            below.
        </p>

        <h5>
            Personal information you provide to us.
        </h5>
        <p>
            You do not need to sign up for a Membership account to use {{APP_NAME}}. However,
            Membership allows us to tailor
            {{APP_NAME}} to be a more personalized experience. To create a {{APP_NAME}} Membership account, we require
            that you
            provide
            a first name, last name, and a valid email address. We will use this information to associate you with your
            specific
            {{APP_NAME}} Member account. After you have created a {{APP_NAME}}
            Member account, All of these, if provided, will be associated with your account until
            you
            delete
            your account or make a request that the information be deleted as described below.
        </p>
        <p>
            Beyond the personal information collected to create a Member account, you have choices about what additional
            information
            you provide to us. We collect personal data from you when you provide, post, or upload it to {{APP_NAME}}.
            You do
            not have
            to provide this information; however, if you do not, it may limit our ability to personalize {{APP_NAME}}
            and your
            ability
            to use {{APP_NAME}} to its fullest extent. Specific {{APP_NAME}}
            functionality for which you may provide and we may
            process
            your information is discussed below.
        </p>
        <h5>
            Communications from you to us.
        </h5>
        <p>
            We collect information about you when you send, receive, or engage with messages from us, including when you
            submit
            personal information or requests by emailing <a href="mailto:{{EMAIL}}">{{EMAIL}}</a> or through the website
            <a href="mailto:{{EMAIL}}">{{EMAIL}}</a>.
            We
            retain
            and use those communications to process your inquiries, respond to your requests, and improve {{APP_NAME}}
            and our
            services. If you are a Member, we will keep your communications to us in association with your account for
            as
            long as
            your Membership is active.
        </p>
    </section>


    <section class="data-collection" id="data-collection">
        <header>
            <h2>
                Automatic Data Collection Technologies
            </h2>
        </header>

        <p>
            By agreeing to our Privacy Policy, you agree to the use of cookies and similar technologies (for example,
            web
            beacons,
            pixels, tags, and device identifiers, which we collectively refer to as “cookies”) as described in this
            policy.
            If you
            use {{APP_NAME}} without changing your browser or device settings to disable cookies,
            we'll assume that you
            consent to
            receive all cookies provided through {{APP_NAME}}.
        </p>

        <h5>
            Cookies and other similar technologies.
        </h5>

        <p>We use cookies to recognize you and/or your device(s) on, off, and across the different applications of
            {{APP_NAME}}. Cookies help to facilitate the best possible user experience of {{APP_NAME}} as they allow us
            to
            recognize you and maintain your user preferences from session to session, help us keep your account safe,
            and
            generally improve the functionality of the products and services offered through {{APP_NAME}}. They also
            help us
            ensure that Member information is used in association with the correct Member account.</p>

        <p>
            We use cookies to collect details of your use of {{APP_NAME}} (including traffic data, IP
            location data, logs,
            browser
            type, browser language, the functionality requested, and the timing of your requests), and other
            communication
            data and
            the resources that you access, use, and create on or through {{APP_NAME}}. We use this
            information to provide a
            tailored
            {{APP_NAME}} experience for you and to communicate with you more effectively. The
            information is also collected to
            determine the aggregate number of unique devices using {{APP_NAME}} and/or parts of {{APP_NAME}}, track
            total usage,
            analyze
            usage data, and improve {{APP_NAME}} functionality for all Users. We may combine this
            information to provide you
            with a
            better experience and to improve the quality of our service.
        </p>

        <p>
            We generally maintain the data we collect from cookies for 21 days but may save it for a longer period where
            necessary
            such as when required by law or for technical reasons. Although most internet browsers accept cookies by
            default, you
            can control cookies through your browser settings and similar tools or refuse cookies altogether. If you
            refuse
            to
            accept cookies, you may be unable to access certain parts of {{APP_NAME}}, you will
            prohibit us from delivering
            the full
            capability of {{APP_NAME}}, and you may prevent the use of certain features and services
            that require these
            technologies.
        </p>

        <p>
            {{APP_NAME}} cannot regulate other sites, content, or applications linked or provided
            from within {{APP_NAME}} or
            our
            various other websites and services that are provided by third parties, including your device manufacturer,
            and
            your
            mobile service provider. These third parties may place their own cookies or other files on your computer,
            collect data,
            or solicit personal information from you. The information they collect may be associated with your personal
            information
            or they may collect information, including personal information, about your online activities over time and
            across
            different websites, apps, and other online services. These third parties may use this information to provide
            you
            with
            interest-based (behavioral) targeted content. We do not control these third parties' tracking technologies
            or
            how they
            may be used. If you have any questions about targeted content, you should contact the responsible provider
            directly.
        </p>

        <h5>Attribution providers.</h5>
        <p>We promote {{APP_NAME}} on third party sites such as Facebook, Google or other Social Media platforms and use
            third-party software
            development kits
            (“SDKs”) to attribute a download of {{APP_NAME}} to the advertisement placed on the
            third-party site. We do not
            sell your
            personal information to any third parties nor allow our SDK service providers to sell your personal
            information
            to third
            parties or use your personal information to solicit the sale of third-party goods or services. We may
            provide
            these
            third parties with aggregate, de-identified information concerning ads placed on their sites and
            {{APP_NAME}}
            downloads
            that result from those ads.</p>

        <h5>Device ID, IP address and network access.</h5>
        <p>When you access or leave {{APP_NAME}} websites, we receive the URL of both the site you
            came from and the one you
            go to
            next. We also get information about your proxy server, operating system, web browser and add-ons, device
            identifier and
            features, and/or your ISP or mobile carrier when you use {{APP_NAME}}. We also receive
            data from your devices and
            networks, including your IP address.</p>

        <p>We use the IP addresses we collect from our users to process them with public latitude and longitude
            information related
            to your Internet Service Provider or mobile service provider in order to determine, and in some instances
            depict
            in an
            aggregate and de-identified manner, the approximate geographic region for each instance of {{APP_NAME}} use.
            This
            latitude
            and longitude information is stored by us for approximately seven days for troubleshooting and diagnostic
            purposes, but
            is never associated with any information about you or that would identify you personally.</p>

        <p>
            We also collect and use the wireless (or “WiFi”) permissions of your mobile device to determine if you are
            connected to
            a WiFi or cellular network. This information is used to provide an optimized user experience by providing
            higher
            resolution media to a user who is on a high-speed WiFi connection rather than a cellular network. WiFi
            permissions are
            also used for casting content with Chromecast and similar devices. This information is not stored or shared
            by
            {{APP_NAME}}.
        </p>

    </section>

    <section class="how-we-use-data" id="how-we-use-data">
        <header>
            <h2>
                How We Use Your Information
            </h2>
        </header>
        <p>We use data that we collect about you and that you provide as well as the inferences we make from that
            information as
            follows:
        </p>
        <p>
            To provide, support, and personalize {{APP_NAME}} and the {{APP_NAME}}
            functionality you request;
            To create, maintain, customize, and secure your {{APP_NAME}} account, if any;
            To process your requests and respond to your inquiries;
            To provide information on other products or services;
            To maintain the safety, security, and integrity of {{APP_NAME}} and the infrastructure that
            facilitates use of
            {{APP_NAME}};
            For development and internal analysis;
            To fulfill any other purpose for which you provide it;
            To carry out our obligations and enforce our rights, including those under this Privacy Policy and our <a
                [routerLink]="[ROUTE.ROOT, ROUTE.TERMS]" target="_blank" rel="noopener noreferrer">Terms of Use</a>;
            As described in this Privacy Policy;
            In any other way we may describe when you provide the information; and
            For any other purpose with your consent.
        </p>

        <h5>Analytics and performance.
        </h5>
        <p>We internally analyze the personal data available to us and the use of {{APP_NAME}}
            content, as well as the
            inferences we
            make from that data, to provide and update {{APP_NAME}}, communicate with you and process
            information as discussed
            in this
            Policy, and for internal analytics such as to observe social, economic, and geographic trends as they
            pertain to
            {{APP_NAME}} content. In some cases, we work with trusted third parties to perform this
            research, under controls
            that are
            designed to protect your privacy, as discussed below. We may disclose use of {{APP_NAME}}
            content in an aggregated
            manner
            with de-identified and anonymized information that does not disclose any particular user or that user’s
            personally-identifying information. For example, we may use your data to generate statistics about overall
            usage
            of
            {{APP_NAME}} worldwide or in specific geographic regions or at specific events or
            locations.</p>
        <p>We also use de-identified and aggregate user data to market {{APP_NAME}}, including
            communications that promote
            {{APP_NAME}}
            Membership and network growth, such as celebrating the total number of {{APP_NAME}}
            installs. When you see stats
            we share
            publicly such as global {{APP_NAME}} engagement, we make sure to analyze and publish the
            data in an aggregated
            form,
            protecting your privacy and keeping your identity and personal information confidential. We use data,
            including
            user
            provided personal information, aggregations of user data, data collected through the use of {{APP_NAME}},
            public
            feedback,
            and information inferred from this data to conduct internal research and development in order to provide a
            better
            overall {{APP_NAME}} experience, measure the performance of {{APP_NAME}}, and increase the use of
            {{APP_NAME}} and its
            features. This is done by making changes to {{APP_NAME}} that are generally available, as
            well as sending users
            messages
            through {{APP_NAME}} suggesting {{APP_NAME}} functionality and
            content.</p>
        <h5>Sensitive Data</h5>
        <p>By downloading and using {{APP_NAME}}, we do not assume that you are of any particular
            religious affiliation or
            are
            expressing to us any particular religious belief; we merely assume that you are interested in the content we
            provide. We
            do not require that users provide information about such beliefs or provide any other sensitive data such as
            race,
            ethnicity, philosophical beliefs, or physical or mental health to use {{APP_NAME}} or
            create or maintain a
            {{APP_NAME}}
            Member account.</p>
        <p>
            Some features available through {{APP_NAME}} utilize personal information that may
            reflect your religious or
            philosophical
            beliefs. Before we collect or process this information for such features, we will obtain your explicit
            consent.
            In
            addition to these features, you have control over the content of certain things you create, share, and store
            through
            {{APP_NAME}}, and if you provide us with sensitive information with any content you
            create, share, and store, we
            will
            assume we have your consent to process that information.
        </p>
        <p>
            We will not sell your sensitive personal information, but we may need to share it with third-party service
            providers
            that enable us to provide certain app features, and those service providers are required to keep your
            personal
            information confidential and only use it to provide us with their services. We will process the sensitive
            information we
            collect and inferences we make about the same in accordance with our Privacy Policy and for the purpose of
            allowing and
            facilitating your use of those specific app features, to personalize your user experience, to suggest other
            content and
            services, and internally to improve our services. If you choose to provide any sensitive information to us,
            we
            may use
            that information with other non-sensitive information you provide to create a more personalized {{APP_NAME}}
            experience
            for you and to perform the services and actions you request, such as sharing or storing content you create.
            In
            any
            event, {{APP_NAME}} will only process sensitive data you provide to us for {{APP_NAME}}’s legitimate
            activities on
            your
            behalf and solely in accordance with the terms of this policy and any additional requests you make about the
            information. We will also maintain your information subject to appropriate safeguards discussed in this
            policy
            and
            otherwise provided by {{APP_NAME}}.
        </p>
        <p>
            You have the right to withdraw your consent to our collection and processing of your sensitive personal
            information by
            turning off and ceasing to use {{APP_NAME}} features that use this information or by
            contacting us via mail at
            {{APP_NAME}}, <a href="mailto:{{EMAIL}}">{{EMAIL}}</a>;
            however,
            withdrawing your consent may hinder our ability to provide certain functionality.
        </p>
    </section>

    <section class="disclosure" id="disclosure">
        <header>
            <h2>
                Disclosure of Your Information
            </h2>
        </header>
        <p>We do not sell or share your personal data with any third-party advertisers or ad networks for their
            advertising
            purposes. We may disclose your personal information to third parties in order to process information as
            described above
            and otherwise enable our ability to provide {{APP_NAME}}, as further discussed below.</p>
        <h5>Disclosure on your behalf.</h5>
        <p>We may disclose personal information that we collect or you provide as described in this Privacy Policy to
            fulfill our
            obligations under our <a [routerLink]="[ROUTE.ROOT, ROUTE.TERMS]" target="_blank"
                rel="noopener noreferrer">Terms of Use</a>, to accomplish the purpose for which you provide it, for any
            other
            purpose
            you
            request when you provide the information, or for any other purpose for which we have your consent.</p>
        <h5>
            Disclosure by you.
        </h5>
        <p>When you share information through {{APP_NAME}}, that information is viewable by you and
            by anyone else you
            choose to
            share it with. If you give access to your {{APP_NAME}} account to other applications and
            services, based on your
            approval,
            those services would then have access to your shared information. The use, collection, and protection of
            your
            data by
            such third-party services is subject to those third parties’ policies.</p>
        <h5>Internal disclosure.</h5>
        <p>We will process your personal data internally within {{APP_NAME}} and its affiliates to
            help combine the personal
            information covered across the different aspects of {{APP_NAME}} and our other products
            and services to help
            provide
            services to you in a manner that is personalized and useful to you and others.</p>
        <h5>Service providers and locations.</h5>
        <p>We may disclose personal information that we collect or you provide as described in this Privacy Policy to
            contractors,
            service providers, and other third parties we use to support {{APP_NAME}} (such as cloud
            hosting, cookie
            providers,
            maintenance, analysis, audit, external marketing, payment, fraud detection, and development), as well as to
            support our
            operations (such as communicating with you for potential employment purposes). We may combine information we
            have with
            information of these service providers to facilitate their support. For example, some of the platforms used
            to
            send
            emails and notifications provided through {{APP_NAME}} are built and managed by third
            parties, so some of your
            information
            is sent securely to those services to provide such functionality. They will have access to your information
            only
            as
            reasonably necessary to perform these tasks on our behalf and are obligated not to disclose or use it for
            other
            purposes. We may also provide aggregate, de-identified information concerning connections by {{APP_NAME}}
            users
            with
            third-parties and their events or locations.</p>
        <h5>{{APP_NAME}} content providers.</h5>
        <p>We utilize certain third parties to provide certain {{APP_NAME}} content, such as Bible
            Plans. We do not share
            personal
            information of {{APP_NAME}} users with these third parties. We do, however, provide these
            third parties with
            aggregate
            analytics concerning the use of their content by country using de-identified and anonymized data.</p>
        <p>Our ability to provide different versions of the Bible in different languages is a result of and subject to
            agreements
            among us and certain Bible societies and publishers, which we’ll call “{{APP_NAME}} Bible
            Providers.” The license
            agreements we have with some {{APP_NAME}} Bible Providers only allow us to provide {{APP_NAME}} users the
            ability to
            download certain Bible texts for offline use if we provide {{APP_NAME}} Bible Providers
            with the User’s name,
            email
            address, and country for future communication. If this is the case with a text you are seeking to download
            for
            offline
            use, we will (i) only share this information with the {{APP_NAME}} Bible Provider for the
            offline version you
            request;
            (ii) do so on a confidential basis and only if the {{APP_NAME}} Bible Provider agrees to
            keep the information we
            share
            about you confidential; and (iii) provide an additional prompt to you as a reminder of these terms, which
            you
            must agree
            to at that time in order to continue with your download. If you do not agree to this additional prompt, you
            may
            continue
            to use the online version of the text. No other personal information of yours will be shared with any
            {{APP_NAME}}
            Bible
            Providers and no information will be shared until you grant approval to our prompt, which will then give you
            access to
            download that offline version. Your interactions with any {{APP_NAME}} Bible Provider are
            solely among you and
            that
            {{APP_NAME}} Bible Provider.</p>
        <h5>Legal process.</h5>
        <p>It is possible that we will need to disclose information about you when required by law, subpoena, or other
            legal
            process. We attempt to notify Users about legal demands for their personal data when appropriate in our
            judgment, unless
            prohibited by law or court order or when the request is an emergency. We may dispute such demands when we
            believe, in
            our discretion, that the requests are overbroad, vague, or lack proper authority, but we do not promise to
            challenge
            every demand. We may also disclose your information if we have a good faith belief that disclosure is
            reasonably
            necessary to (i) investigate, prevent, or take action regarding suspected or actual illegal activities or to
            assist
            government enforcement agencies; (ii) enforce our agreements with you; (iii) investigate and defend
            ourselves
            against
            any third-party claims or allegations; (iv) protect the security or integrity of {{APP_NAME}}; or (v)
            exercise or
            protect
            the rights and safety of {{APP_NAME}}, Users, our personnel, or others. We also reserve
            the right to
            confidentially
            disclose personal information we have about you in connection with a potential or actual merger or
            acquisition
            such as
            the sale of all or substantially all of our assets.
        </p>
    </section>

    <section class="data-deletion" id="data-deletion">
        <header>
            <h2>
                Deleting, Accessing, and Correcting Your Information

            </h2>
        </header>
        <h5>How to make your requests.
        </h5>
        <p>For personal data that we have about you, you may request the following:
        </p>
        <p>Deletion: You may ask us to erase or delete all or some of your personal data. Please note that doing so may
            limit your
            ability to use certain functionality of {{APP_NAME}}. Please note that an email address
            is required to have a
            Member
            account to ensure we can properly authenticate potential users of that account.
            Correction/Modification: You may edit some of your personal data through your account or ask us to change,
            update, or
            fix your data in certain cases, including if it is inaccurate.
            Object to, or Limit or Restrict, Use of Data: You can ask us to stop using all or some of your personal data
            or
            to limit
            our use of it.
            Right to Access and/or Take Your Data: You can ask us for a copy of or disclosure concerning your personal
            data
            you
            provided to us.</p>
        <p>
            Certain laws may provide the right to make these and additional requests concerning your personal
            information.
            If you
            have provided us with personal information and wish to make such a request under a specific region’s law,
            include the
            phrase “[Your State/Country] Privacy Request” in the subject line of your request and send your request via
            email to
            <a href="mailto:{{EMAIL}}">{{EMAIL}}</a>
        </p>
        <p>We ask that individuals making requests identify themselves with at least their name, address, and email
            address and
            identify the information requested to be accessed, corrected, or removed before we process the request. We
            may
            seek
            additional information to verify a requestor’s identity. We may also decline to process requests if we
            cannot
            verify the
            requestor's identity or if we believe the request will jeopardize the privacy of others, violate any law or
            legal
            requirement, would cause the information to be incorrect, or for a similar legitimate purpose.</p>
        <p>We will not discriminate against you for exercising any of your rights under applicable law. We do not charge
            a
            fee to
            process or respond to your verifiable request unless it is excessive, repetitive, or manifestly unfounded.
            If we
            determine that the request warrants a fee, we will tell you why we made that decision and provide you with a
            cost
            estimate before completing your request.</p>
        <p>Some information you have created, received, or used in {{APP_NAME}} may not be available
            in a usable form
            outside of
            {{APP_NAME}}. As a result, when you request a copy of your personal information, we will
            be able to provide
            personal
            information you have provided to us, such as your name, address, phone number and the like; however, we may
            be
            unable to
            provide you with content and User Contributions that utilize {{APP_NAME}} functionality.
        </p>
        <h5>Deleting your account.</h5>
        <p>
            You can delete your {{APP_NAME}} account at any time using the settings function in {{APP_NAME}}; however,
            when you
            delete
            your account we will delete the information associated with your account such as Notes, Bookmarks and other
            User
            Contributions you have created, received or shared. If you do not want to delete your account or this
            information, but
            want to temporarily stop using {{APP_NAME}}, you may cease using the {{APP_NAME}} application and we will
            maintain
            your
            account and the information associated with your account until you resume use or delete your account,
            whichever
            comes
            first.
        </p>
        <p>If you choose to delete your account or ask that we modify or delete personal information, we will delete and
            purge
            personal information we have stored about you in a way that is electronically irreversible, however, we may
            retain your
            personal data if we have a legal right or obligation to maintain the information or to meet regulatory
            requirements,
            resolve disputes, maintain security, prevent fraud and abuse, enforce our rights, or fulfill any other
            requests
            from you
            (for example, to opt-out of further messages or for a copy of your data). Otherwise, if you request that we
            delete your
            account, we will delete your account and all the information we have that is associated with your account,
            except for
            aggregated statistics based on de-identified information and inferences we have made (for example, the fact
            that
            you
            downloaded {{APP_NAME}}, without identifying you or maintaining personal information
            associated with that
            account).</p>
        <p>
            Our deletion of your information and account will generally take no more than fourteen days from your
            request;
            however,
            cached information may take up to thirty days to delete. Please note that we have no control of information
            you
            have
            shared with others through {{APP_NAME}} after you close your account or asked to delete
            information or attempted
            to delete
            your account yourself. Your information and content you have shared may continue to be displayed in the
            services
            of
            others (for example, search engine results) until they refresh their cache.
        </p>
    </section>


    <section class="third-party-collection" id="third-party-collection">
        <header>
            <h2>
                Third Party Information Collection
            </h2>
        </header>

        <p>Please keep in mind that {{APP_NAME}} may contain links to other websites or apps. You are
            responsible for
            reviewing the
            privacy statements and policies of those other websites you choose to link to or from {{APP_NAME}}, so that
            you
            can
            understand how those websites collect, use, and store your information. We are not responsible for the
            privacy
            statements, policies, or content of other websites or apps, including websites you link to or from
            {{APP_NAME}}.
            Websites
            containing co-branding (referencing our name and a third party’s name) contain content delivered by the
            third
            party and
            not us.</p>

        <p>If you choose to link {{APP_NAME}} with other websites, applications, and services or
            profiles you have with
            third-party
            applications, you will provide the personal data stored on those applications to {{APP_NAME}}. For example,
            you
            may start
            a new {{APP_NAME}} Membership account by linking your Facebook account to {{APP_NAME}}, providing personal
            information you
            have opted to share through Facebook to {{APP_NAME}}. You may revoke the link with such
            accounts and third-party
            applications by modifying your settings with those applications.</p>

    </section>
    <section class="brief-overview" id="brief-overview">
        <header>
            <h2>
                Users from Outside the Nigeria

            </h2>
        </header>

        <p>{{APP_NAME}} is based out of Lagos within the Nigeria and your use of {{APP_NAME}} and this Privacy
            Policy
            is
            governed by the laws of the Nigeria and the State of Lagos. If you are using {{APP_NAME}} from
            outside
            this state
            or country, please be aware that your information may be transferred to, stored, and processed in the
            Nigeria
            where our servers are located and our central database is operated. We process data both inside and outside
            of
            the
            Nigeria and rely on contractual commitments between us and companies transferring personal data that
            require the
            protection and security of such data. The data protection and other laws of Lagos State, the
            Nigeria
            and other countries might not be as comprehensive as those in your state or country. By using {{APP_NAME}},
            you
            consent to
            your information being transferred to our facilities and to the facilities of those third parties with whom
            we
            share it
            with, as described in this Privacy Policy.</p>

    </section>

    <section class="changes-to-policy" id="changes-to-policy">
        <header>
            <h2>
                Changes to Our Privacy Policy

            </h2>
        </header>
        <p>We may update our Privacy Policy from time to time to reflect changes in our practices. {{APP_NAME}} is
            consistently
            seeking new and improved ways to offer {{APP_NAME}} and increase engagement. As we
            improve {{APP_NAME}}, this may
            mean the
            collection of new data or new ways to use data. Because {{APP_NAME}} is dynamic, and we
            continuously seek to offer
            new
            features, we may require changes in our collection or processing of information. If we collect materially
            different
            personal data or materially change how we use your data, we will update this Privacy Policy.</p>
        <p>We will post any changes to our Privacy Policy on this page. If we make material changes to how we process
            our
            users’
            personal information, we will provide a notice that the Privacy Policy has been updated. The date the
            Privacy
            Policy was
            last modified is identified at the beginning of the Policy. You are responsible for ensuring we have an
            up-to-date
            active and deliverable email address for you, and for periodically visiting this Privacy Policy to check for
            any
            changes.</p>
    </section>

    <section class="contact-information" id="contact-information">
        <header>
            <h2>
                Contact Information
            </h2>
        </header>
        <p>To ask questions or comment about this Privacy Policy and our privacy practices, you may contact us at to
            {{APP_NAME}},
            <a href="mailto:{{EMAIL}}">{{EMAIL}}</a>
        </p>
    </section>

</div>

<app-footer [appName]="APP_NAME" />