@import './variables/font';
@import 'gerillass';
@import './mixins/breakpoint';

html {
  scroll-behavior: smooth;
  font-size: 85%;
  font-family: $primary-font, sans-serif;

  @include breakpoint(min, medium) {
    font-size: 95%;
  }
  @include breakpoint(min, large) {
    font-size: 100%;
  }
  @include breakpoint(min, xlarge) {
    font-size: 110%;
  }
  @include DisplaySize4k{
    font-size: 115%;
  }
}
body {
  font-family: $primary-font, sans-serif;
  scroll-behavior: smooth;
}
