@use 'colors';
@forward 'material/theme' with (
  $primary: colors.$accent-500,
  $secondary: colors.$primary-500,
  $on-primary: white,
  $on-secondary: colors.$text-light
);
@forward 'material/button';
@forward 'material/icon-button';
@forward 'material/elevation';
.button-secondary {
  --mdc-theme-primary: white;
  --mdc-theme-on-primary: colors.$text-light;
}
