.match {
  background: var(--mat-sys-inverse-primary) !important;
}
.message-column {
  min-width: 300px;
}

.verses-column {
  min-width: 200px;
}

.key-verse-column {
  min-width: 100px;
}

.table {
  padding-bottom: 1rem !important;
  padding-right: 1rem !important;
}
