.phone-control {
  .t-ipi-select {
    position: absolute !important;
    border-radius: inherit !important;
    border-start-end-radius: 0 !important;
    border-end-end-radius: 0 !important;
  }
}

[tuiAppearance][data-appearance='textfield'] {
  --t-shadow: none;
}

tui-dialog {
  header.t-header {
    padding: 0.5rem 1.5rem;
    padding-top: 1rem;
    font-size: 1.5rem !important;
    background: var(--mat-sys-surface-container-low);
  }

  button.t-close {
    &::before {
      font-size: 1.5rem !important;
      background: var(--mat-sys-tertiary-fixed);
    }

    top: 0.5rem !important;
  }
}
