@use 'breakpoints';

.logo {
  $logoSize: 3rem;
  border-radius: 1.4rem;
  width: $logoSize;
  height: $logoSize;
  img {
    width: calc($logoSize - 0.5rem);
    height: auto;
  }
  @include breakpoints.medium {
    $logoSize: 3.5rem;
    width: $logoSize;
    height: $logoSize;
    img {
      width: calc($logoSize - 0.5rem);
      height: auto;
    }
  }

  @include breakpoints.large {
    $logoSize: 4rem;
    width: $logoSize;
    height: $logoSize;
    img {
      width: calc($logoSize - 0.5rem);
      height: auto;
    }
  }
}
