<tui-root [attr.tuiTheme]="isDarkMode() ? 'dark' : null">
    <router-outlet></router-outlet>

    @if (!deviceConnected()) {
    <div class="warning-panel">
        <span *transloco="let t"> {{ t(KEY.NO_INTERNET_CONNECTION_NOTICE , {value: t(KEY.APP_NAME)}) }}</span>
    </div>
    }


    <div *ngIf="showPreloader()" class="preloader bg-primary-800">

        <div class="book">
            <div class="inner">
                <div class="left"></div>
                <div class="middle"></div>
                <div class="right"></div>
            </div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

    </div>
</tui-root>