@forward 'material-theme';
@use 'common/material-theme';
@use 'common/utils/scroll-bar';
@use 'font-icon';
@use 'common/font';
@use 'common/reset';
@use 'tailwind';

:root {
  --text-color: #250b0a;
  --section-title-size: 1.5rem;
  --section-title-weight: 500;
}
