<div *transloco="let t" class="draft h-full">
    <h5 class="page-title">{{t(KEY.PUBLISHED)}} ({{contentYear()}})</h5>

    @let languages = dashboardStore.supportedLanguages().languages;

    <div class="flex gap-4 mb-4">
        <div class="flex-1 ps-1">
            <tui-textfield tuiTextfieldSize="m" iconStart="@tui.search">
                <input [(ngModel)]="searchQuery" [placeholder]="t(KEY.SEARCH_PLACEHOLDER)" tuiTextfield />
            </tui-textfield>
        </div>


        <tui-badged-content>

            <img alt="" size="s" tuiBadge tuiSlot="bottom"
                [src]="languageFC.value ?? ''|| languageSwitcher.language | tuiFlag" alt="Language Switch" />

            <button appearance="outline-grayscale" matRipple size="m" tuiButtonSelect tuiIconButton type="button"
                [formControl]="languageFC" [iconStart]="'@tui.languages'" class="!rounded-xl">
                Language
                <tui-data-list *tuiTextfieldDropdown>
                    <tui-opt-group>
                        <button class="flex gap-2" *ngFor="let lang of languages" tuiOption type="button"
                            [value]="lang.countryCode" (click)="setLang(lang)">
                            <img class="t-flag" [src]="lang.countryCode | tuiFlag"  alt="Flag"/>
                            {{ lang.label }}
                        </button>
                    </tui-opt-group>
                </tui-data-list>
            </button>
        </tui-badged-content>

    </div>

    <tui-scrollbar class="h-full">
        <cdk-virtual-scroll-viewport #viewport appendOnly tuiScrollable class="viewport tui-zero-scrollbar h-full"
            [itemSize]="45" [maxBufferPx]="500" [minBufferPx]="400">

            <table *ngIf="data" tuiTable class="table" [columns]="tableColumns" [direction]="orderDirection() || 1"
                [tuiSortBy]="sortColumnBy()" (directionChange)="orderDirection.set($event)"
                (tuiSortByChange)="sortColumnBy.set($event!)">
                <thead>
                    <tr tuiThGroup>

                        <ng-container *ngFor="let column of tableColumns">
                            @let columnsWithMinWidth = column === "verses" || column
                            === "supplication" || column === "reflection";
                            @let isSortableColumns = column === "sn" || column === "reference" || column ===
                            "topic";

                            @if (column === "message") {
                            <th *tuiHead="column" class="message-column" tuiTh [sticky]="true" [tuiSortable]="false"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                                {{ t(column)}}
                            </th>
                            }
                            @else if (columnsWithMinWidth) {
                            <th *tuiHead="column" class="verses-column" tuiTh [sticky]="true" [tuiSortable]="false"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                                {{ t(column)}}
                            </th>
                            }
                            @else if (column === "keyVerse") {
                            <th *tuiHead="column" class="key-verse-column" tuiTh [sticky]="true" [tuiSortable]="false"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                                {{ t(column)}}
                            </th>
                            }
                            @else if (isSortableColumns) {
                            <th *tuiHead="column" tuiSortable tuiTh [sticky]="true"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                                {{ t(column)}}
                            </th>
                            }@else {
                            <th *tuiHead="column" [tuiSortable]="false" tuiTh [sticky]="true"
                                [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                                {{ t(column)}}
                            </th>
                            }

                        </ng-container>

                    </tr>
                </thead>
                <tbody *tuiLet="data() | tuiTableSort as sortedData" tuiTbody [heading]="t(KEY.MONTH_+tablePage())"
                    [data]="sortedData">


                    <tr *ngFor="let item of sortedData" tuiTr>
                        <ng-container *ngFor="let key of tableColumns; let i = index">
                            @if (key ==="date") {
                            <td *tuiCell="key" tuiTd> {{ item['date'] |
                                date:'fullDate'
                                }} </td>
                            }@else if(key ==="message"){
                            <td *tuiCell="key" tuiTd [class.match]="isColumnMatch(item[key])"> {{ item[key]}}
                            </td>
                            }@else if(key ==="imagePath"){
                            <td *tuiCell="key" tuiTd>
                                <a [href]="item[key]" target="_blank" rel="noopener noreferrer">
                                    <img width="50" height="50" class="header-image" ngSrc="{{item[key]}}"
                                        alt="Header Image">
                                </a>
                            </td>
                            }@else if(key ==="audioUrl"){
                            <td *tuiCell="key" tuiTd>
                                <ng-audio-player *ngIf="item[key]" src="{{item[key]}}" />
                            </td>
                            }@else{
                            <td *tuiCell="key" tuiTd [class.match]="isColumnMatch(item[key])"> {{ item[key]}}
                            </td>
                            }

                        </ng-container>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td [colSpan]="tableColumns.length/2">
                            <tui-table-pagination class="mt-2" [size]="AVERAGE_TABLE_PAGE_SIZE"
                                [page]="tablePage() || 0"
                                [total]="this.publishedContentStore.publishedContentsByAYear().length"
                                (paginationChange)="onPagination($event)" />
                        </td>
                    </tr>
                </tfoot>
            </table>

        </cdk-virtual-scroll-viewport>
    </tui-scrollbar>

</div>