<div *transloco="let t" class="draft no-scrollbar h-full">
    <h5 class="page-title">{{t(KEY.PUBLISHED)}} ({{contentYear()}})</h5>

    @let languages = dashboardStore.supportedLanguages().languages;

    <div class="flex gap-4">
        <div class="flex-1 ps-1">
            <tui-textfield tuiTextfieldSize="m" iconStart="@tui.search">
                <input [(ngModel)]="searchQuery" [placeholder]="t(KEY.SEARCH_PLACEHOLDER)" tuiTextfield />
            </tui-textfield>
        </div>


        <tui-badged-content>

            <img alt="" size="s" tuiBadge tuiSlot="bottom"
                [src]="languageFC.value ?? ''|| languageSwitcher.language | tuiFlag" />

            <button appearance="outline-grayscale" matRipple size="m" tuiButtonSelect tuiIconButton type="button"
                [formControl]="languageFC" [iconStart]="'@tui.languages'" class="!rounded-xl">
                Language
                <tui-data-list *tuiTextfieldDropdown>
                    <tui-opt-group>
                        <button class="flex gap-2" *ngFor="let lang of languages" tuiOption type="button"
                            [value]="lang.countryCode" (click)="setLang(lang)">
                            <img class="t-flag" [src]="lang.countryCode | tuiFlag" />
                            {{ lang.label }}
                        </button>
                    </tui-opt-group>
                </tui-data-list>
            </button>
        </tui-badged-content>

    </div>

    <cdk-virtual-scroll-viewport #viewport appendOnly tuiScrollable class="viewport tui-zero-scrollbar mt-4 h-full"
        [itemSize]="45" [maxBufferPx]="500" [minBufferPx]="400">

        <table *ngIf="data" tuiTable class="table" [columns]="tableColumns" [direction]="orderDirection() || 1"
            [tuiSortBy]="sortColumnBy()" (directionChange)="orderDirection.set($event)"
            (tuiSortByChange)="sortColumnBy.set($event!)">
            <thead>
                <tr tuiThGroup>

                    <th *tuiHead="tableColumns[0]" tuiSortable tuiTh [sticky]="true"
                        [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                        {{ t(tableColumns[0])}}
                    </th>

                    <th *tuiHead="tableColumns[1]" [tuiSortable]="false" tuiTh [sticky]="true"
                        [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                        {{t(tableColumns[1])}}
                    </th>

                    <th *tuiHead="tableColumns[2]" tuiSortable tuiTh [sticky]="true"
                        [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                        {{t(tableColumns[2])}}
                    </th>

                    <th *tuiHead="tableColumns[3]" [tuiSortable]="false" style="min-width: 300px;" tuiTh [sticky]="true"
                        [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                        {{t(tableColumns[3])}}
                    </th>

                    <th *tuiHead="tableColumns[4]" tuiSortable tuiTh [sticky]="true"
                        [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                        {{t(tableColumns[4])}}
                    </th>

                    <th *tuiHead="tableColumns[5]" tuiSortable="false" tuiTh [sticky]="true"
                        [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                        {{t(tableColumns[5])}}
                    </th>

                    <th *tuiHead="tableColumns[6]" tuiSortable="false" tuiTh [sticky]="true"
                        [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)">
                        {{t(tableColumns[6])}}
                    </th>
                </tr>
            </thead>
            <tbody *tuiLet="data() | tuiTableSort as sortedData" tuiTbody [heading]="t(KEY.MONTH_+tablePage())"
                [data]="sortedData">
                <tr *ngFor="let item of sortedData" tuiTr>
                    <ng-container *ngFor="let key of tableColumns; let i = index">
                        @switch (i) {
                        @case (1) {
                        <!-- isDate -->
                        <td *tuiCell="key" tuiTd> {{ item['date'] |
                            date:'fullDate'
                            }} </td>
                        }
                        @case (3) {
                        <!-- isMessage -->
                        <td *tuiCell="key" tuiTd [class.match]="isColumnMatch(item[key])"> {{ item[key]}}
                        </td>
                        }
                        @case (5) {
                        <!-- isImage -->
                        <td *tuiCell="key" tuiTd>
                            <a [href]="item[key]" target="_blank" rel="noopener noreferrer">
                                <img width="50" height="50" class="header-image" ngSrc="{{item[key]}}"
                                    alt="Header Image">
                            </a>
                        </td>
                        }
                        @case (6) {
                        <!-- isAudio -->
                        <td *tuiCell="key" tuiTd>
                            <ng-audio-player *ngIf="item[key]" src="{{item[key]}}" />
                        </td>
                        }
                        @default {
                        <td *tuiCell="key" tuiTd [class.match]="isColumnMatch(item[key])"> {{ item[key]}}
                        </td>
                        }
                        }

                    </ng-container>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td [colSpan]="tableColumns.length">
                        <tui-table-pagination class="mt-2" [size]="AVERAGE_TABLE_PAGE_SIZE" [page]="tablePage() || 0"
                            [total]="this.publishedContentStore.publishedContentsByAYear().length"
                            (paginationChange)="onPagination($event)" />
                    </td>
                </tr>
            </tfoot>
        </table>

    </cdk-virtual-scroll-viewport>

</div>