<div *transloco="let t" class="signup">

    <div class="p-4 py-8">
        <div class="logo flex justify-center  items-center  bg-white">
            <img class="scale" width="50" height="50" alt="Logo" ngSrc="images/global/logo.png" priority>
        </div>
    </div>

    <div class="flex flex-col items-center form px-4">

        <div>
            <h5>{{t(KEY.SIGN_UP_HEADER)}}, <br> {{t(KEY.TELL_US_ABOUT)}}</h5>
            <div class="pt-12">
                <app-user-data #userDataForm />
            </div>

            <div class="text-end mt-4 submit">
                <button [disabled]="isLoading()" (click)="onSubmit(userDataForm.form)" mat-flat-button
                    class="login-btn mat-elevation-z1">{{t(KEY.SUBMIT)}}</button>
            </div>
        </div>
    </div>
</div>