$text-light: #212121;

$primary-50: #c2fcff;
$primary-100: #a3f7ff;
$primary-200: #7cf3fe;
$primary-300: #3be6fc;
$primary-400: #0bc2da;
$primary-500: #019ab2;
$primary-600: #03738c;
$primary-700: #08596d;
$primary-800: #0e4353;
$primary-900: #0d3644;

$primary-dark-50: #c8f6f9;
$primary-dark-100: #acf0f6;
$primary-dark-200: #89e8f0;
$primary-dark-300: #4fd6e8;
$primary-dark-400: #22b0c3;
$primary-dark-500: #138da0;
$primary-dark-600: #116a7e;
$primary-dark-700: #145261;
$primary-dark-800: #173e4a;
$primary-dark-900: #16323c;

$accent-50: #fff4ed;
$accent-100: #ffe6d4;
$accent-200: #ffc8a8;
$accent-300: #ffa270;
$accent-400: #ff6f37;
$accent-500: #ff5722;
$accent-600: #f02e06;
$accent-700: #c71e07;
$accent-800: #9e1a0e;
$accent-900: #7f190f;

$accent-dark-50: #fdf3ed;
$accent-dark-100: #fbe8da;
$accent-dark-200: #f6cab1;
$accent-dark-300: #f1a67e;
$accent-dark-400: #eb794c;
$accent-dark-500: #e9633a;
$accent-dark-600: #d63d1f;
$accent-dark-700: #b02d1c;
$accent-dark-800: #8e281f;
$accent-dark-900: #72241d;

$success-50: #eefff4;
$success-100: #d7ffe7;
$success-200: #b2ffd1;
$success-300: #76ffad;
$success-400: #33f583;
$success-500: #09de61;
$success-600: #00c853;
$success-700: #049140;
$success-800: #0a7136;
$success-900: #0a5d2f;

$success-dark-50: #f1fdf6;
$success-dark-100: #dafbe7;
$success-dark-200: #baf7d3;
$success-dark-300: #83f1af;
$success-dark-400: #48e087;
$success-dark-500: #20c565;
$success-dark-600: #14b356;
$success-dark-700: #128143;
$success-dark-800: #166438;
$success-dark-900: #145230;

$warn-50: #fffdea;
$warn-100: #fff6c5;
$warn-200: #ffee85;
$warn-300: #ffdf46;
$warn-400: #ffcd1b;
$warn-500: #ffab00;
$warn-600: #e28200;
$warn-700: #bb5a02;
$warn-800: #984508;
$warn-900: #7c390b;

$warn-dark-50: #fdfbed;
$warn-dark-100: #f9f3cd;
$warn-dark-200: #f3e691;
$warn-dark-300: #edd45a;
$warn-dark-400: #e8c030;
$warn-dark-500: #e6a219;
$warn-dark-600: #ca7f16;
$warn-dark-700: #a85c15;
$warn-dark-800: #864618;
$warn-dark-900: #6d3a18;

$error-red-50: #fff0f0;
$error-red-100: #ffdddd;
$error-red-200: #ffc1c1;
$error-red-300: #ff9595;
$error-red-400: #ff5959;
$error-red-500: #ff2626;
$error-red-600: #fc0606;
$error-red-700: #d50000;
$error-red-800: #af0505;
$error-red-900: #900c0c;

$error-dark-50: #fdf1f1;
$error-dark-100: #fbdfdf;
$error-dark-200: #f9c8c8;
$error-dark-300: #f49f9f;
$error-dark-400: #ee6868;
$error-dark-500: #e93a3a;
$error-dark-600: #e42121;
$error-dark-700: #c11515;
$error-dark-800: #9b1717;
$error-dark-900: #821c1c;

$neutral-50: #f4f6f7;
$neutral-100: #e3e7ea;
$neutral-200: #cbd3d6;
$neutral-300: #a6b4ba;
$neutral-400: #7a8c96;
$neutral-500: #5f717b;
$neutral-600: #515f69;
$neutral-700: #465058;
$neutral-800: #3e454c;
$neutral-900: #373d42;
$neutral-950: #212529;
