<main class="legal">
    <app-header />
    <hr>
    <h2 class="title">Terms of Use</h2>
    <div class="flex justify-end last-updated">
        <span class="text-neutral-300">Last updated: 01-July-2025</span>
    </div>
</main>

<div class="container legal-content">
    <section class="acceptance-of-terms" id="acceptance-of-terms">
        <header>
            <h2>Terms of Use</h2>
        </header>
        <h5>Acceptance of these Terms</h5>
        <p>By using {{APP_NAME}} sites, services, and mobile applications (together, “{{APP_NAME}}”), whether as a guest
            or a
            registered user, you accept and agree to bound by these Terms. Please read these Terms carefully before you
            start
            to use
            {{APP_NAME}}, as well as the {{APP_NAME}} <a [routerLink]="[ROUTE.ROOT, ROUTE.PRIVACY]" target="_blank"
                rel="noopener noreferrer">Privacy Policy</a>. If you do not agree to these Terms or the {{APP_NAME}} <a
                [routerLink]="[ROUTE.ROOT, ROUTE.PRIVACY]" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
            you must not access or use {{APP_NAME}}.</p>
        <h5>Changes to the Terms</h5>
        <p> We may
            revise and update
            these Terms
            from time to time at our sole discretion. Any changes are effective when we post them. Your continued use of
            {{APP_NAME}}
            following the posting of revised Terms means that you accept and agree to the changes.</p>
        <p>Where {{APP_NAME}} has provided you with a <a href="{{PAGE_TRANSLATION}}" target="_blank"
                rel="noopener noreferrer">translation</a> other than the English language
            version of the Terms of Use,
            then
            you agree that the is provided for your convenience only and that the English language version
            of
            the
            Terms
            of Use will govern your relationship with {{APP_NAME}}. If there is any contradiction
            between
            what the English
            language
            version of the Terms of Use says and what a translation says, then the English language version shall take
            precedence.</p>
        <h5>Changes to {{APP_NAME}}</h5>
        <p>While we hope to always offer {{APP_NAME}} and all of its features, we reserve the right
            to
            change or cease
            offering
            {{APP_NAME}} or any part portion or functionality of {{APP_NAME}}
            without
            notice. We will not be liable if for any
            reason
            all or any part of {{APP_NAME}} is unavailable at any time.</p>
        <h5>Information About You and Your Access of {{APP_NAME}}</h5>
        <p>All information we collect on or through {{APP_NAME}} is subject to our <a
                [routerLink]="[ROUTE.ROOT, ROUTE.PRIVACY]" target="_blank" rel="noopener noreferrer">Privacy Policy</a>.
            By
            using {{APP_NAME}}, you
            consent
            to all actions taken by us in compliance with the <a [routerLink]="[ROUTE.ROOT, ROUTE.PRIVACY]"
                target="_blank" rel="noopener noreferrer">Privacy Policy</a>.
        </p>
        <h5>Permitted and Unpermitted Use</h5>
        <p>You may use {{APP_NAME}} in accordance with these Terms for either your personal and
            non-commercial use or for the
            internal use of your non-profit religious organization. All rights not expressly granted to you are reserved
            by
            <a [href]="CCC_SHARON_PARISH_WEBSITE" target="_blank" rel="noopener noreferrer">{{CCC_SHARON_PARISH}}</a>.
            You agree you are not permitted and will not use {{APP_NAME}} as
            follows:
        </p>
        <p>in any way that violates any federal, state, local, or international law or regulation;
            for the purpose of exploiting, harming, or attempting to exploit or harm minors in any way by exposing them
            to
            inappropriate content, asking for personally identifiable information, or otherwise;
            to impersonate or attempt to impersonate any company or person, including <a
                [href]="CCC_SHARON_PARISH_WEBSITE" target="_blank" rel="noopener noreferrer">{{CCC_SHARON_PARISH}}</a>
            or
            another
            {{APP_NAME}} user;
            to engage in any other conduct which, as determined by us, may harm <a [href]="CCC_SHARON_PARISH_WEBSITE"
                target="_blank" rel="noopener noreferrer">{{CCC_SHARON_PARISH}}</a> or users of
            {{APP_NAME}} or expose
            them to
            liability;
            in any manner that could disable, overburden, damage, or impair {{APP_NAME}} or interfere
            with any other person’s
            use of
            {{APP_NAME}};
            use any robot, spider, or other automatic device, process, or means to access {{APP_NAME}}
            for any purpose,
            including
            monitoring or copying any of the material on {{APP_NAME}};
            to introduce any viruses, Trojan horses, worms, logic bombs, or other material which is malicious or
            technologically
            harmful;
            to attempt to gain unauthorized access to, interfere with, damage, or disrupt any parts of {{APP_NAME}} or
            any
            server,
            computer, or database connected to {{APP_NAME}};
            to attack {{APP_NAME}} via a denial-of-service attack or a distributed denial-of-service
            attack; and
            otherwise attempt to interfere with the proper working of {{APP_NAME}}.</p>
        <p>You also agree that you will not send, knowingly receive, upload, download, use, or re-use any material
            which:
        </p>
        <p>contains any material which is defamatory, obscene, indecent, abusive, offensive, harassing, violent,
            hateful,
            inflammatory, or otherwise objectionable;
            promotes sexually explicit or pornographic material, violence, or discrimination on any basis, including
            that
            based on
            race, sex, religion, nationality, disability, sexual orientation, or age;
            infringes any patent, trademark, trade secret, copyright, or other intellectual property or other rights of
            any
            other
            person;
            violates the legal rights (including the rights of publicity and privacy) of others or contains any material
            that
            could
            give rise to any civil or criminal liability under laws or regulations;
            promotes any illegal activity, or advocates, promotes, or assists any unlawful act;
            involves commercial activities or sales, such as contests, sweepstakes, and other sales promotions, barter,
            or
            advertising; and/or
            gives the impression that the material emanates from or is endorsed by <a [href]="CCC_SHARON_PARISH_WEBSITE"
                target="_blank" rel="noopener noreferrer">{{CCC_SHARON_PARISH}}</a> or any
            other
            person or
            entity,
            if
            this is not the case.</p>
        <h5>Account Security
        </h5>
        <p>{{APP_NAME}} allows users to create an account (“Members”) which requires providing
            certain
            information to
            <a [href]="CCC_SHARON_PARISH_WEBSITE" target="_blank" rel="noopener noreferrer">{{CCC_SHARON_PARISH}}</a>.
            If
            you choose or are provided with a user name, password, or similar information as part of our security
            procedures,
            you
            agree to treat such information as confidential, and agree to notify us immediately of any unauthorized
            access
            to
            or use
            of your user name or password or any other breach of security. We have the right to disable any user name,
            password, or
            other identifier, whether chosen by you or provided by us, at any time if, in our opinion, you have violated
            any
            provision of these Terms.
        </p>
        <h5>Monitoring and Enforcement; Legal Compliance; Termination</h5>
        <p>You agree that we have the right to:
        </p>
        <p>take any action with respect to any user, Member account, or User Contribution that we deem necessary or
            appropriate in
            our sole discretion if we believe there to be a violation of these Terms, infringement of third party
            rights, a
            threat
            to the personal safety of others, or a threat, liability, or harm to the goodwill associated with
            {{APP_NAME}} or
            <a [href]="CCC_SHARON_PARISH_WEBSITE" target="_blank" rel="noopener noreferrer">{{CCC_SHARON_PARISH}}</a>;
            take appropriate action, including without limitation, referral to law enforcement and disclosure of your
            information,
            for any illegal or unauthorized use of {{APP_NAME}}; and/or
            terminate or suspend your access to all or part of {{APP_NAME}} for any or no reason,
            including without limitation,
            any
            violation of these Terms.
        </p>
        <p>Without limiting the foregoing, we have the right to fully cooperate with any law enforcement authorities or
            court order
            requesting or directing us to disclose the identity or other information of anyone posting any materials on
            or
            through
            {{APP_NAME}}. YOU WAIVE AND HOLD HARMLESS LIFE.CHURCH AND ITS LICENSEES AND SERVICE
            PROVIDERS
            AND ALL OF THEIR
            EMPLOYEES,
            OFFICERS, AND DIRECTORS FROM ANY CLAIMS RESULTING FROM ANY ACTION TAKEN BY ANY OF THE FOREGOING PARTIES
            DURING
            OR
            AS A
            RESULT OF LEGAL INVESTIGATIONS AND FROM ANY ACTIONS TAKEN AS A CONSEQUENCE OF INVESTIGATIONS BY EITHER
            LIFE.CHURCH
            OR
            LAW ENFORCEMENT AUTHORITIES.</p>
        <h5>Intellectual Property Rights</h5>
        <p>{{APP_NAME}} and its contents, features, and functionality (including but not limited to
            all
            information, software,
            text,
            displays, images, video, and audio, and the design, selection, and arrangement of the same), are owned by
            <a [href]="CCC_SHARON_PARISH_WEBSITE" target="_blank" rel="noopener noreferrer">{{CCC_SHARON_PARISH}}</a>,
            its licensors, or other providers of such material and are protected by Nigeria and international
            copyright,
            trademark, patent, trade secret, and other intellectual property or proprietary rights laws.
        </p>
        <h5>Logos and Designs
        </h5>
        <p>The {{APP_NAME}} name and logo, <a [href]="CCC_SHARON_PARISH_WEBSITE" target="_blank"
                rel="noopener noreferrer">CCC
                Sharon Parish</a> name and logo, App Icon logo,
            and all related
            names, logos, product and
            service names, designs, and slogans are trademarks and/or copyright of <a [href]="CCC_SHARON_PARISH_WEBSITE"
                target="_blank" rel="noopener noreferrer">{{CCC_SHARON_PARISH}}</a>. You must
            not
            use these marks
            and
            copyright without the prior written permission of <a [href]="CCC_SHARON_PARISH_WEBSITE" target="_blank"
                rel="noopener noreferrer">{{CCC_SHARON_PARISH}}</a>. All other names, logos,
            product
            and service
            names,
            designs, and slogans on {{APP_NAME}} are the trademarks of their respective owners.</p>
        <h5>Copyright Infringement
        </h5>
        <p>If you believe that any User Contributions or other content provided on {{APP_NAME}}
            violates your copyright or
            other
            rights, please contact our designated agent by: (a) mail <a href="mailto:{{EMAIL}}">{{EMAIL}}</a>, <a
                [href]="CCC_SHARON_PARISH_WEBSITE" target="_blank" rel="noopener noreferrer">{{CCC_SHARON_PARISH}}</a>.
            Please
            be
            aware
            that it is the policy of <a [href]="CCC_SHARON_PARISH_WEBSITE" target="_blank" rel="noopener noreferrer">CCC
                Sharon
                Parish</a> to terminate the user accounts of repeat infringers.
        </p>
        <h5>Third Party Links and Services</h5>
        <p>{{APP_NAME}} may include content or links to other sites or resources provided by third
            parties. We have no control
            over
            the contents of those sites or resources, and accept no responsibility for them or for any loss or damage
            that
            may
            arise
            from your use of them. If you decide to access any of the third party websites linked to {{APP_NAME}}, you
            do so
            entirely
            at your own risk and subject to the terms and conditions of use for such websites. All statements and/or
            opinions
            expressed in these materials, and all articles and responses to questions and other content, other than the
            content
            provided by <a [href]="CCC_SHARON_PARISH_WEBSITE" target="_blank"
                rel="noopener noreferrer">{{CCC_SHARON_PARISH}}</a>, are solely the opinions and the responsibility of
            the person or
            entity
            providing those
            materials. These materials do not necessarily reflect the opinion of <a [href]="CCC_SHARON_PARISH_WEBSITE"
                target="_blank" rel="noopener noreferrer">{{CCC_SHARON_PARISH}}</a>. We are not
            responsible or
            liable
            to
            you or any third party for the content or accuracy of any materials provided by any third parties.</p>
        <h5>Geographic Restrictions</h5>
        <p><a [href]="CCC_SHARON_PARISH_WEBSITE" target="_blank" rel="noopener noreferrer">{{CCC_SHARON_PARISH}}</a> is
            based in
            Lagos State in the Nigeria. We make no claims that
            {{APP_NAME}} or any of
            its
            content is accessible or appropriate outside of the Nigeria. Access to {{APP_NAME}}
            may
            not be legal by
            certain
            persons or in certain countries. If you access {{APP_NAME}} from outside the Nigeria,
            you do so on your own
            initiative and are responsible for compliance with local laws.</p>
        <h5>Disclaimer of Warranties</h5>
        <p>YOUR USE OF {{APP_NAME | uppercase}}, ITS CONTENT, AND ANY FUNCTIONALITY, SERVICES, OR ITEMS OBTAINED
            THROUGH {{APP_NAME | uppercase}} IS AT
            YOUR
            OWN RISK, ALL OF WHICH ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS, WITHOUT ANY WARRANTIES OF ANY
            KIND,
            EITHER
            EXPRESS OR IMPLIED. NEITHER LIFE.CHURCH NOR ANY PERSON ASSOCIATED WITH LIFE.CHURCH MAKES ANY WARRANTY OR
            REPRESENTATION
            WITH RESPECT TO THE COMPLETENESS, SECURITY, RELIABILITY, QUALITY, ACCURACY, OR AVAILABILITY OF {{APP_NAME |
            uppercase}}. WITHOUT
            LIMITING THE FOREGOING, NEITHER LIFE.CHURCH NOR ANYONE ASSOCIATED WITH LIFE.CHURCH REPRESENTS OR WARRANTS
            THAT
            {{APP_NAME | uppercase}} OR ANY FUNCTIONALITY CONTENT OR ANY SERVICES OR ITEMS OBTAINED THROUGH {{APP_NAME}}
            WILL BE ACCURATE,
            RELIABLE,
            ERROR-FREE, OR UNINTERRUPTED, THAT DEFECTS WILL BE CORRECTED, THAT {{APP_NAME | uppercase}} OR THE
            SERVER
            THAT MAKES IT
            AVAILABLE ARE
            FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS, OR THAT {{APP_NAME | uppercase}} OR ANY SERVICES OR
            ITEMS
            OBTAINED THROUGH
            {{APP_NAME | uppercase}}
            WILL OTHERWISE MEET YOUR NEEDS OR EXPECTATIONS.</p>
        <p>LIFE.CHURCH HEREBY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE,
            INCLUDING
            BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT, AND FITNESS FOR PARTICULAR PURPOSE.
        </p>
        <p>THE FOREGOING DOES NOT AFFECT ANY WARRANTIES WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.</p>
        <h5>Limitation on Liability
        </h5>
        <p>IN NO EVENT WILL LIFE.CHURCH, ITS LICENSORS, SERVICE PROVIDERS, OR ANY OF THEIR EMPLOYEES, AGENTS, OFFICERS,
            OR
            DIRECTORS BE LIABLE FOR DAMAGES OF ANY KIND, UNDER ANY LEGAL THEORY, ARISING OUT OF OR IN CONNECTION WITH
            YOUR
            USE, OR
            INABILITY TO USE, {{APP_NAME | uppercase}}, ANY WEBSITES LINKED TO IT, ANY CONTENT OFFERED ON OR
            THROUGH
            {{APP_NAME | uppercase}}, OR SUCH
            OTHER
            WEBSITES OR ANY SERVICES OR ITEMS OBTAINED THROUGH {{APP_NAME | uppercase}}, INCLUDING ANY DIRECT,
            INDIRECT, SPECIAL,
            INCIDENTAL,
            CONSEQUENTIAL, OR PUNITIVE DAMAGES, INCLUDING, BUT NOT LIMITED TO, PERSONAL INJURY, PAIN AND SUFFERING,
            EMOTIONAL
            DISTRESS, LOSS OF REVENUE, LOSS OF PROFITS, LOSS OF BUSINESS OR ANTICIPATED SAVINGS, LOSS OF USE, LOSS OF
            GOODWILL, LOSS
            OF DATA, AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF CONTRACT, OR OTHERWISE, EVEN IF
            FORESEEABLE.
        </p>
        <p>THE FOREGOING DOES NOT AFFECT ANY LIABILITY WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.
        </p>
        <h5>Indemnification</h5>
        <p>You agree to defend, indemnify, and hold harmless <a [href]="CCC_SHARON_PARISH_WEBSITE" target="_blank"
                rel="noopener noreferrer">{{CCC_SHARON_PARISH}}</a>, its affiliates, licensors, and
            service
            providers,
            and its
            and their respective officers, directors, employees, contractors, agents, licensors, suppliers, successors,
            and
            assigns
            from and against any claims, liabilities, damages, judgments, awards, losses, costs, expenses, or fees
            (including
            reasonable attorneys’ fees) arising out of or relating to your violation of these Terms or your use of
            {{APP_NAME}}
            including, but not limited to, your User Contributions, any use of {{APP_NAME}} content,
            services, and products
            other than
            as expressly authorized in these Terms or your use of any information obtained from {{APP_NAME}}.</p>
        <h5>Governing Law and Jurisdiction
        </h5>
        <p>All matters, disputes, or claims relating to {{APP_NAME }} and these Terms (including
            non-contractual disputes or
            claims),
            shall be governed by and construed in accordance with the internal laws of Nigeria without
            giving
            effect
            to any choice or conflict of law provision or rule. Any legal suit, action or proceeding arising out of, or
            related to,
            these Terms or {{APP_NAME }} shall be instituted exclusively in the federal courts of the
            Nigeria. By agreeing to
            these
            Terms and
            using {{APP_NAME}}, you waive any and all objections to the exercise of jurisdiction over
            you
            by such courts and to
            venue
            in such courts.</p>
        <h5>Waiver and Severability</h5>
        <p><a [href]="CCC_SHARON_PARISH_WEBSITE" target="_blank" rel="noopener noreferrer">{{CCC_SHARON_PARISH}}</a> may
            only waive its rights under these Terms in writing. If any provision of these
            Terms is held by
            a
            court
            or other tribunal of competent jurisdiction to be invalid, illegal, or unenforceable for any reason, such
            provision
            shall be eliminated or limited to the minimum extent such that the remaining provisions of these Terms will
            continue in
            full force and effect.</p>
        <h5>Entire Agreement
        </h5>
        <p>These Terms and our <a [routerLink]="[ROUTE.ROOT, ROUTE.PRIVACY]" target="_blank"
                rel="noopener noreferrer">Privacy Policy</a> constitute the sole and entire agreement between you and
            <a [href]="CCC_SHARON_PARISH_WEBSITE" target="_blank" rel="noopener noreferrer">{{CCC_SHARON_PARISH}}</a>
            with respect to {{APP_NAME }} and supersede all prior and contemporaneous understandings,
            agreements,
            representations, and
            warranties, both written and oral, with respect to {{APP_NAME}}.
        </p>
        <h5>Your Comments and Concerns</h5>
        <p>{{APP_NAME}} is operated by <a [href]="CCC_SHARON_PARISH_WEBSITE" target="_blank"
                rel="noopener noreferrer">CCC
                Sharon Parish</a>. All feedback,
            comments,
            requests for technical support and other communications relating to {{APP_NAME}} should
            be
            directed to: {{APP_NAME}}
            Support, <a href="mailto:{{EMAIL}}">{{EMAIL}}</a>.</p>
    </section>
</div>

<app-footer [appName]="APP_NAME" />