<footer class="w-dvw overflow-hidden">
    <div class="footer grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
        <div class="section">
            <div class="logo flex justify-center items-center bg-white">
                <a [routerLink]="ROUTE.ROOT"><img width="80" height="75" alt="Logo" ngSrc="global/images/logo.png">
                </a>
            </div>

            <h6 class="app-name text-white">{{APP_NAME}}</h6>

            <div class="download-buttons">
                <a [href]="ROUTE.DOWNLOAD">
                    <img class="scale" width="183.35" height="54.4" alt="Apple App Store"
                        ngSrc="images/apple-store-light.svg">
                </a>
                <br>
                <a [href]="ROUTE.DOWNLOAD"><img class="scale" width="183.35" height="54.4" alt="Google Play Store"
                        ngSrc="images/google-store-light.svg">
                </a>
            </div>

        </div>
        <div class="section">
            <h6 class="text-white">Contact</h6>
            <ul>
                <li>
                    <a href="mailto:{{EMAIL}}"> {{EMAIL}}</a>
                </li>
            </ul>
        </div>
        <div class="section">
            <h6 class="text-white">Quick Links</h6>
            <ul>
                @let root = ROUTE.ROOT;
                <li><a class="link" [routerLink]="[root]">Home</a> </li>
                <li> <a class="link" [routerLink]="[root, ROUTE.PRIVACY]">Privacy</a>
                </li>
                <li><a class="link" [routerLink]="[root, ROUTE.TERMS]">Terms</a> </li>
            </ul>
        </div>
        <div class="social section">
            <h6 class="text-white">Follow us on:</h6>
            <ul>
                <li>
                    <a target="_blank" href="https://facebook.com/{{CONSTANT.SOCIAL_HANDLE}}">
                        <mat-icon fontIcon="facebook-fill"></mat-icon>
                    </a>
                </li>
                <li><a href="https://instagram.com/{{CONSTANT.SOCIAL_HANDLE}}" target="_blank">
                        <mat-icon fontIcon="instagram-fill"></mat-icon>
                    </a></li>

                <li><a href="https://twitter.com/{{CONSTANT.SOCIAL_HANDLE}}" target="_blank">
                        <mat-icon fontIcon="twitter-fill"></mat-icon>
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <div class="copyright p-2 text-neutral-500 text-center w-full">
        Copyright &copy; {{year}}
    </div>

</footer>