@use 'breakpoints';

.image-upload {
  border: 1px solid var(--mat-sys-outline);
  border-radius: 15px;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  width: 100%;
  @include breakpoints.medium {
    width: 70%;
  }
}

.cover {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}

.image-controls {
  .upload-icon {
    color: var(--mat-sys-tertiary-fixed);
  }
  .upload-btn {
    font-size: 1rem;
    mat-icon {
      font-size: 1.2rem;
    }
  }
}

.textarea,
.tags,
tui-notification,
.topic {
  width: 100%;
}

mat-label {
  text-transform: capitalize;
}

.input {
  width: 100%;
  @include breakpoints.large {
    width: 50%;
  }
}
