<form *transloco="let t" [formGroup]="form" class="content-form flex flex-col gap-4">

    <tui-notification size="s" appearance="warning">{{t(KEY.UNIQUE_CONTENT_DATE_MESSAGE)}}. <br>
        {{t(KEY.REQUIRED_FIELD_MESSAGE)}}</tui-notification>

    <div *ngIf="englishContent()" class="text-end">
        <button mat-button [cdkCopyToClipboard]="englishContent()!">{{t(KEY.COPY_ENG_VERSION_MSG)}}</button>
    </div>

    <mat-form-field class="topic">
        <mat-label>{{t(KEY.TOPIC)}}*</mat-label>
        <input formControlName="topic" matInput>
        @if (this.topicFC.invalid) {
        <mat-error>{{t(KEY.CONTENT_REQ_MSG, {value: t(KEY.TOPIC)})}}</mat-error>
        }
    </mat-form-field>

    <div class="flex gap-4 flex-col lg:flex-row items-start">
        <mat-form-field class="input">
            <mat-label>{{t(KEY.CONTENT_DATE)}}</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (this.dateFC.invalid) {
            <mat-error>{{t(KEY.DATE_REQ_MSG)}}</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="input">
            <mat-label>{{t(KEY.BIBLE_REFERENCE)}}*</mat-label>
            <input formControlName="reference" matInput>
            @if (this.bibleReferenceFC.invalid) {
            <mat-error>{{t(KEY.BIBLE_REF_KEY_VERSE_REQ_MSG)}}</mat-error>
            }
        </mat-form-field>
    </div>

    <mat-form-field class="textarea">
        <mat-label>{{t(KEY.VERSES)}}*</mat-label>
        <textarea cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="3" formControlName="verses"
            matInput></textarea>
        @if (this.referenceVersesFC.invalid) {
        <mat-error>{{t(KEY.REFERENCE_VERSES_REQ_MSG)}}</mat-error>
        }
    </mat-form-field>

    <mat-form-field class="textarea">
        <mat-label>{{t(KEY.KEY_VERSE)}}*</mat-label>
        <textarea formControlName="keyVerse" matInput></textarea>
        @if (this.referenceKeyVersesFC.invalid) {
        <mat-error>{{t(KEY.REFERENCE_KEY_VERSE_REQ_MSG)}}</mat-error>
        }
    </mat-form-field>


    <mat-form-field class="textarea">
        <mat-label>{{t(KEY.MESSAGE)}}*</mat-label>
        <textarea cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" formControlName="message"
            matInput></textarea>
        @if (this.messageFC.invalid) {
        <mat-error>{{t(KEY.CONTENT_MSG_REQ_MSG)}}</mat-error>
        }
    </mat-form-field>

    <mat-form-field class="tags">
        <mat-label>{{t(KEY.TAGS)}} <span class="lowercase">({{t(KEY.OPTIONAL)}})</span> </mat-label>
        <mat-chip-grid #reactiveChipGrid formControlName="tags">
            @for (keyword of tags(); track keyword) {
            <mat-chip-row (removed)="removeATag(keyword)">
                {{keyword}}
                <button matChipRemove>
                    <mat-icon fontIcon="close-fill"></mat-icon>
                </button>
            </mat-chip-row>
            }
        </mat-chip-grid>
        <input [placeholder]="t(KEY.TAG_PLACEHOLDER)" [matChipInputFor]="reactiveChipGrid"
            (matChipInputTokenEnd)="addATag($event)" />
    </mat-form-field>

    <input #imageUpload type="file" (change)="onImageFileSelected($event)" accept="image/*" hidden />

    @let dialogLanguageIsEnglish = language()?.code === 'en';
    <mat-accordion *ngIf="dialogLanguageIsEnglish" class="expansion-panel">
        <mat-expansion-panel class="mat-elevation-z0 border border-3">
            <mat-expansion-panel-header>
                <mat-panel-title> {{t(KEY.HEADER_IMAGE)}}
                </mat-panel-title>
                <mat-panel-description>
                    ({{t(KEY.OPTIONAL)}})
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="image-upload mt-4">
                <mat-progress-bar *ngIf="imageUploadState() === 'uploading'" mode="determinate"
                    [value]="imageUploadProgress()"></mat-progress-bar>

                <div class="block" (click)="attachImage(imageUpload)">
                    <img class="cover" [src]="defaultImageUrl" #cover>
                </div>
                <div *ngIf="imageUploadState() !== 'uploading'" class="flex justify-end gap-2 image-controls">

                    <button *ngIf="imageAttached()" [matTooltip]="t(KEY.CROP_AND_UPLOAD_IMG)" (click)="uploadImage()"
                        type="button" mat-icon-button>
                        <mat-icon fontIcon="upload-fill" class="upload-icon"></mat-icon>
                    </button>

                    <button [matTooltip]="t(KEY.RESET_CROP_CHANGES)"
                        *ngIf="imageAttached() && cropperState()==='touched'" (click)="resetCropper()" type="button"
                        mat-icon-button>
                        <mat-icon fontIcon="reset-left-outline"></mat-icon>
                    </button>

                    <button [matTooltip]="t(KEY.ATTACH_IMAGE_FOR_CROPPING)" [matTooltip]="t(KEY.CROP_AND_UPLOAD_IMG)"
                        (click)="imageUpload.click();" type="button" mat-icon-button>
                        <mat-icon fontIcon="photo-plus-circle-fill"></mat-icon>
                    </button>
                </div>
                <div *ngIf="maxImageSizeExceededError" class="px-4">
                    <tui-error class="text-start" [error]="maxImageSizeExceededError"></tui-error>
                </div>

            </div>

        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="expansion-panel">
        <mat-expansion-panel class="mat-elevation-z0 border border-3">
            <mat-expansion-panel-header>
                <mat-panel-title> {{t(KEY.AUDIO)}}
                </mat-panel-title>
                <mat-panel-description>
                    ({{t(KEY.OPTIONAL)}})
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="audio-upload mt-4 flex flex-col gap-4">

                <audio *ngIf="uploadedAudioUrl()" #audioPlayer controls>
                    <source [src]="uploadedAudioUrl()" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>


                <label tuiInputFiles>
                    <input tuiInputFiles [formControl]="audioFileFC" accept="audio/mpeg"
                        (change)="uploadAudio($event)" />
                    <ng-template let-dragged>
                        <div *ngIf="dragged; else base" class="content p-4 ">
                            <mat-icon fontIcon="water-drop-fill"></mat-icon>
                            <div>
                                {{t(KEY.DROP_IT)}}
                                <br />
                                <br />
                            </div>
                        </div>
                        <ng-template #base>
                            <div class="content p-4">
                                <mat-icon fontIcon="track-upload-outline"></mat-icon>
                                <div>
                                    <a tuiLink>{{uploadedAudioUrl() ? t(KEY.REPLACE):t(KEY.UPLOAD) }} audio</a>
                                </div>
                            </div>
                        </ng-template>
                    </ng-template>
                </label>

                <tui-files>

                    <tui-file *ngIf="loadedAudioFile$ | async as file" [file]="file" (remove)="removeFile()" />

                    <tui-file *ngIf="failedAudioFile$ | async as file" state="error" [file]="file"
                        (remove)="removeFile()" />

                    <tui-file *ngIf="loadingAudioFile$ | async as file" state="loading" [file]="file"
                        (remove)="removeFile()" />
                </tui-files>
                <tui-error class="text-start" [error]="maxAudioSizeExceededError"></tui-error>

            </div>

        </mat-expansion-panel>
    </mat-accordion>


    <div *ngIf="imageUploadState() !== 'uploading'" class="flex gap-4 mt-2">
        <button type="button" class="flex-1" (click)="closeDialog()" mat-stroked-button>{{t(KEY.CANCEL)}}</button>
        <button type="submit" [disabled]="isLoading()" (click)="onSubmit()" mat-flat-button
            class="mat-elevation-z1 flex-1">{{t(KEY.SAVE)}}</button>
    </div>

</form>