@use '@angular/material' as mat;
@use 'breakpoints';

.expansion-panel {
  @include mat.expansion-overrides(
    (
      container-shape: 4px,
    )
  );
  mat-expansion-panel {
    border-color: var(--mat-sys-outline);
  }
}

.image-upload {
  border: 1px solid var(--mat-sys-outline);
  border-radius: 4px;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  width: 100%;
  @include breakpoints.medium {
    width: 70%;
  }
}

.cover {
  display: block;
  max-width: 100%;
}

.textarea,
.tags,
tui-notification,
.topic {
  width: 100%;
}

mat-label {
  text-transform: capitalize;
}

.input {
  width: 100%;
  @include breakpoints.large {
    width: 50%;
  }
}
